[2017-04-07 17:24] rogersgj opened #1 "Working Example"
Hello, would it be possible to show a working example of this?  Does it work on MultiPage tiff images too?

[2017-04-07 17:52] photopea commented on #1
Hi, I have added an example code. It does support MultiPage images, too. Let me know if you have any problems.

[2017-04-08 09:23] photopea commented on #1
So does it work?

[2017-04-09 01:40] rogersgj commented on #1
No I can't get it to work.  Sorry it took me so long to get back to you.  I don't know if I am basing it too much off of what I did with tiff.js.  I am very interested in an alternate.  I didn't have much luck with tiff.js with large docs in IE.  This is the code I am using, very simple:

<!doctype html>
<html>
  <head>
    <title>tiff.js demo</title>
  </head>
  <body>
    <script src="./jquery-1

[2017-04-09 08:36] photopea commented on #1
That looks like your file does not have the width defined. Can you send me your TIFF file (e.g. to support@photopea.com) ?  Does it open in www.Photopea.com ?

[2017-04-09 15:41] rogersgj commented on #1
When I use tiff.js it does come back with a width defined if that helps.  But no, it doesn't open on photopea.com.  I figured it was due to the multipage, that is why I asked originally.  Will put up a image in the next few minutes.

[2017-04-12 05:24] photopea commented on #1
Did you really see the error? Because in my case, the computation ends up in an infinite loop.

BTW I already know what is a problem and I will fix it asap.

[2017-04-12 12:25] rogersgj commented on #1
I see the error when I try to load the tiff from the page I created from your code.  I do not see the error on photopea.com, the page just locks up on me.

Thank you for looking into the issue.

[2017-04-12 16:03] rogersgj commented on #1
Actually, I tried building the page with the tiff image you supplied (and worked) with Photopea.com.  It didn't work either and I got the same error.  So I am assuming in addition I am doing something else wrong with the page.  Here is a screen shot:
![screen shot 2017-04-12 at 12 00 27 pm](https://cloud.githubusercontent.com/assets/26065376/24967404/fa6f6d12-1f77-11e7-89c0-471359176413.png)
What

[2017-04-12 22:16] photopea commented on #1
The file that you sent me has a name "DH5F.TIF"

[2017-04-12 23:59] rogersgj commented on #1
Yes it does.  I was attempting to get it to work with the tiff file you
posted.

From my mobile, please excuse errors or grammatical mistakes...

On Apr 12, 2017 6:16 PM, "Photopea" <notifications@github.com> wrote:

[2017-04-13 06:54] photopea commented on #1
I am very sorry. I wrote the code of an example without a proper testing. Please use the new example code. Now, you will be able to load G4.TIF.  Soon, I will fix the rest, so you can load DH5F.TIF too.

[2017-04-13 13:11] rogersgj commented on #1
No need to be sorry.  Thanks for the updated code, but now I am getting a different error.  I am sorry for being a pain.  Now I am getting the error:

UTIF.js:7 Uncaught TypeError: Cannot read property 'width' of undefined
    at Object.UTIF.toRGBA8 (UTIF.js:7)
    at XMLHttpRequest.imgLoaded (basic.html:14)
UTIF.toRGBA8	@	UTIF.js:7
imgLoaded	@	basic.html:14

[2017-04-13 15:12] photopea commented on #1
I updated the UTIF.js library few days ago, try to update it too :)

[2017-04-13 19:10] photopea commented on #1
The problem was in my implementation of Fax compression, which could not deal with black pixels on the left edge. I managed to fix it and you can successfully parse your file now (try it in Photopea). Please use the latest example code and the latest JS file.

I am confident enough to close this issue. Let me know if you have any other problems :)

[2017-04-13 19:10] #1 closed

[2017-04-13 19:38] rogersgj commented on #1
Awesome!  Works great on photopea.com!  Now I need to build my page to
actually display the image.

*Tall Computing*
*rogersgj@tallcomputing.com <rogersgj@tallcomputing.com>*

On Thu, Apr 13, 2017 at 3:10 PM, Photopea <notifications@github.com> wrote:

[2017-04-14 18:28] rogersgj opened #2 "Tiff Image not displaying correctly."
I am sorry to say I found another image that won't display correctly.  It doesn't lock the page, but it only display maybe a 1/100 of the image.

I will zip it and attach it.  Otherwise it works great!  Getting much further than I did with tiff.js in IE.  Not getting any memory issues.  Running in a loop it doesn't seem to process the entire 81 page tiff.  ALways stops in the 70's mark.  I am work

[2017-04-14 19:13] rogersgj commented on #2
Just want to throw out there, If I crop the image so there is no top border, the image appears perfectly.  The documents I work with have a lot of these type borders on them.

[2017-04-15 15:53] photopea commented on #2
Ok, I fixed it, please use the new version. It took me quite a long time to figure out, that I just need to add 10 characters to my code :D

https://github.com/photopea/UTIF.js/commit/3c11212d55b84b37cbb1d83aaca77ab09691df1f#diff-d890c282f9ccbc9fb5971048236dd336

Thank you very much for helping me improve this library. I will be very glad, if you find even more bugs :)

[2017-04-15 15:53] #2 closed

[2017-04-18 15:57] rogersgj opened #6 "WebWorker"
Any thoughts on how I could make this into a web worker?  I have everything but that part working.  With large documents, it would be great to have the multithreading.

[2017-04-18 17:01] photopea commented on #6
Are you having problems with speed? I don't have any experience with multithreading in JS.

[2017-04-18 17:06] rogersgj commented on #6
Yes.  I deal with very large documents at times, tiff images with 80 pages or more.  And when you open a document like that, there is a long wait time.  It would be great to be able to start viewing once the first image was processed.  I did rework it to use a web worker, but I cannot get e.target.response to work in the web worker.

[2017-04-18 19:19] photopea commented on #6
Oh, I understand, that it is ugly, when your whole webapp freezes.

Send me some of your 80 page TIFFs, maybe I can find a bottleneck and make it a little (or a lot) faster.

[2017-04-19 03:33] fritz-c opened #7 "Support for old-style JPEG compression"
Would it be possible to support TIFF files with old-style JPEG compression used within?

For example, the image named `b05937c07e0f3ce1bfd2c8c71b0220ec.tif` in the archive here: https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/imagetestsuite/imagetestsuite-tiff-1.00-part3.tar.gz

(Taken from [imagetestsuite](https://code.google.com/archive/p/imagetestsuite/downloads)

[2017-04-19 04:58] photopea commented on #7
UTIFF.js would probably have to call some other library for working with JPEGs.  Do you actaully plan to use it in practice? Can't you convert your images to real JPEGs in some other program and then use these JPEGs instead?

[2017-04-19 05:16] fritz-c commented on #7
I have encountered those kinds of images in practice. It's a client-facing screen that needs TIFF support, so it's difficult to ask the user to convert it themselves. If it's beyond the scope of this library, though, I won't ask you to add it in.

[2017-04-19 05:58] photopea commented on #7
Ok, I think I can add such feature, probably by calling JPEG decoder from PDFJS.

[2017-04-20 19:57] mhammadpk opened #8 "Displaying tiff image of html file in Browser"
Hi,

I want to display tiff images contained in local html file in a web browser. Please guide me about the following:

1. - How can I use your utility to show tiff images contained in html file?
2. - On which browser will it work such as chrome, firefox, ie etc
3. - Will it work on ubuntu platform?

I am attaching code which I tried to display a simple tiff image in html file. Please let me know

[2017-04-20 23:47] photopea commented on #8
Do you know any Javascript programming? If not, I guess I can make a utility, that will replace <img elements with canvases of TIFF files automatically.

It will work in all browsers and all operating systems.

[2017-04-21 11:02] mhammadpk commented on #8
Hi photopea,

Thanks for your reply. It will really nice if you can make a utility which will replace <img elements with canvases of Tiff files automatically, as I have been out of touch for a long time in javascript. The code will be quite useful for all other people as well.

I have following tag used in html files saved in my local drive:

`<A HREF="/path/to/file/a.tiff"><IMG WIDTH=40 HEIGHT=40

[2017-04-21 12:06] photopea commented on #8
JS environment should be able to read the raw data of your local file. I am afraid, that when you doubleclick the "index.html" in your computer and it opens in a browser, JS can not read local files (because of CORS - same origin policy).  The same problem would happen, if you tried to load a local text file etc.  You would have to use a local web server (which is a very simple thing, it can be a

[2017-04-21 12:51] photopea commented on #8
I have added the new function UTIF.replaceIMG, which will let you display TIFF images inside <img> elements. See the new documentation. Just call it like this:

<body onload="UTIF.replaceIMG()">  ...

[2017-04-21 14:32] mhammadpk commented on #8
Thanks photopea a lot,

Although, your utility works fine with "Web Server for Chrome", but I donot like to use the webserver, because I need to first copy all those tiff images and other resources from local drives in a specified folder, which will be linked with web server. Secondly, as this application will be installed at user end, so user will need to perform some settings of webserver before

[2017-04-21 18:09] photopea commented on #8
We are getting away from the TIFF format and I am not sure if I understand your problem correctly.

The Web, in order to be transparent and secure, has quite limited capabilities in comparison to native apps of the past. E.g. it can not store files into user's device, or read files from a device. The web app, which is programmed with Javascript, can load files only through the HTTP protocol, which

[2017-04-21 19:52] photopea commented on #7
I was not able to use a standard JPEG decoder directly in UTIF.js.  But baseline JPEG compression seems to be quite simple (see http://www.npes.org/pdf/TIFF-v6.pdf  - page 95). Would you like to try and implement it?

[2017-04-23 11:35] mhammadpk commented on #8
Hi photpea,

Thanks for your reply. I want to share my insights that when I open locally saved "index.html" file without the **webserver**, which is using UTIF.js file, it is successfully load the tiff images as well, after performing some operations.

Let's suppose, generated report "index.html" and "UTIF.js" file are located at path  "/home/user/GUI/report". "index.html" file has the following t

[2017-04-23 12:58] photopea commented on #8
I am used to make web apps, where everything is served over HTTP. The way your browser maps your local storage into URL addresses is beyond my understanding.

I would start a local web server to make things simpler. You usually can set, which directory should be the root of the web server, to serve files from it. Or maybe consider putting everything online (I still don't understand, if you are mak

[2017-04-26 14:06] photopea commented on #6
I guess you have solved it. Let me know if you have any other questions.

[2017-04-26 14:06] #6 closed

[2017-04-26 14:06] #8 closed

[2017-04-28 15:58] jonathanlurie opened #9 "uncompressed single band images lacking tag 259"
Hi there,
I have an uncompressed single-band float32 tiff that (apparently) lacks the tag 259 (compression tag). Reading the spec, this tag seems mandatory so I don't know why ImageJ does not write it. Anyway, I tried to fix it by adding a default value in UTIF.js. In the function UTIF.decode, replacing that:

[code]
by that:
[code]

Though, the problem seems to be rather that UTIF does not play w

[2017-04-28 16:13] photopea commented on #9
Hi, I haven't come across float32  TIFF images. Are they in the specification?  It sounds like it is just an array of float values ... why do you call it a TIFF file?

There are many images on the internet, that have a TIFF extension, but are "almost TIFF". I am not sure if extending UTIF library to handle non-standard files is a right way to go.

[2017-05-16 15:35] photopea commented on #9
So can you send your files to me? Can other programs open your files?

[2017-06-16 05:23] khmars commented on #7
UTIF.decode._decodeG3 has error at line 215.

is1D = ((data[boff>>3]>>((boff&7)))&1)==1;  boff++;

it fail if fo == 1.

[2017-06-16 07:52] photopea commented on #7
Hi @khmars ... it is probably not related to JPEG compression. Can you send me an image, where the problem occurs, to support@photopea.com

BTW it is very nice to meet somebody, who understands G3 compression :)

[2017-06-16 11:23] photopea commented on #9
I have to close it because of lack of details.

[2017-06-16 11:23] #9 closed

[2017-06-20 10:56] syvaidya commented on #7
@photopea There are JS decoders available. One that might do the trick is available at: https://github.com/notmasteryet/jpgjs

Would you please take a look?

[2017-06-20 11:05] photopea commented on #7
I know about JPG decoders. But I think that TIFF with JPG data are quite rare. It is better to convert such images into a standard JPG and use them as JPGs afterwards.

[2017-06-20 22:43] syvaidya commented on #7
I wish that such Tiff files were rare but they are pretty common. We have customers who have most of the Tiff files compressed using jpeg. If you use any of the big sized copier+scanners that you find in offices, those will generate such tiff if color scanning is done.

[2017-06-20 23:32] photopea commented on #7
These are probably some old scanners. Can't you batch-convert them to JPG with some utility right after scanning? What is your use case for these files and UPNG.js ?

[2017-06-21 02:42] syvaidya commented on #7
These are latest model scanners. And unfortunately we do not have control on source of the files. We are just building a generic image viewer.

By the way jpeg tiff is default output format in many of the enterprise capture products too. So it is not a "dead "format, how much ever I wish it were.

[2017-06-21 08:21] photopea commented on #7
I don't understand JPG format well enough, to be able to connect UTIF.js with some existing JPG library. I would have to study the specification, it can take several days.

Would you be interested in donating some money to the project for this new feature? Everything would be published as open-source, free to use for the whole world forever :)

[2017-06-21 11:25] syvaidya commented on #7
Unfortunately, it is very difficult in our org to donate. I can help in coding if required..

[2017-06-21 11:48] photopea commented on #7
Ok, so can you try to implement it? You can make a separate library, or use parts of UTIF.js .

[2017-06-27 06:08] syvaidya opened #10 "Null check missing in LZW decompress"
For some LZW compressed images, it fails at:

`var nit = tab[OldCode].slice(0);  nit.push(tab[Code][0]);`
`var OutString = tab[OldCode].slice(0);  OutString.push(OutString[0]);`

because `tab[OldCode]` is null.

Changing those lines to following fixes the issue:

`var nit = tab[OldCode] ? tab[OldCode].slice(0) : [];  nit.push(tab[Code][0]);`
`var OutString = tab[OldCode] ? tab[OldCode].slice(0) :

[2017-06-27 09:52] photopea commented on #10
Thank you. Can you please send me some image, where the current code does not work, to support@photopea.com or here in the discussion?

[2017-07-08 09:39] syvaidya commented on #10
I've sent mail to your email address with the sample.

[2017-07-09 11:17] photopea commented on #10
Ok, I changed it blindly without doing any research around it. Hope it is correct :)

[2017-07-09 11:17] #10 closed

[2017-07-10 09:17] Scimonster opened #11 "Save as TIFF"
Any chance this library will ever add this capability? Some academic journals still require TIFFs, so they do get used.

[2017-07-10 09:32] photopea commented on #11
We can add a function to create simple TIFFs with no compression, it would be like 10 lines of code. But still, I think it is better not to use TIFF format. Could you ask those academic journals, why don't they move to JPGs and PNGs?

[2017-07-10 09:57] Scimonster commented on #11
I'm just the programmer here. :smile: One of the requirements is saving as TIFF.

By the way, please make sure to update the version in package.json and publish the new version on NPM so that it's usable through NPM.

[2017-07-13 10:12] soadzoor commented on #11
If it's really just 10 lines of code, please add those 10 lines, I'm also interested in this.. :)

[2017-07-13 10:24] soadzoor opened #12 "UTIF depends on pako.js?"
So, I started using this lib. First of all, it's awesome, and thanks for your work, you saved me a lot of time :)

BUT I might have discovered a potential bug on line 75, it says:
`else if(cmpr==8) {  var src = new Uint8Array(data.buffer,off,len);  var bin = pako["inflate"](src);`

I don't know what it means if cmpr == 8, maybe it's not a popuplar format/compression, but if someone tries your lib

[2017-07-13 13:55] photopea commented on #12
Hi, I have added the information, that UTIF.js depends on pako.js, to the front page.

I was a little lazy to study and implement my own Inflate algorithm (maybe it is just 15 lines of code, I don't know). It would be nice to remove this dependency in the future.

[2017-07-13 13:55] #12 closed

[2017-07-13 22:39] soadzoor commented on #12
Seems like it's much more than 15 lines of code. I'm working on a typescript version and implemented it based on pako.js. It's around 2-3 thousand lines, and it seems the algorithm needs them all. There are a couple hundred lines of comments though, but it's not that easy as it first seems. Took me 5-6 hours, or more.

[2017-07-13 22:48] photopea commented on #12
pako.js contains also the compressor (deflating), which is not required for UTIF.js  . I am pretty sure I could write the inflate algorithm in 15 lines. But it may take several hours to understand the algorithm.

UTIF.js already contains LZW decompression, which is similar to deflate, and it is quite short.

[2017-07-13 23:08] soadzoor commented on #12
I do hope you're right, because this much code seems to be such a waste for only one kind of tiff. BTW I did only the inflate part based on this, and it's quite long, so I have doubts..: https://github.com/nodeca/pako/blob/master/dist/pako_inflate.js

On the other hand, I didn't even try to understand the algorithm, so I hope I'm wrong and it can be done with much less code

[2017-07-14 20:36] photopea commented on #11
I have added the naive TIFF encoder (without any compression), so you can save images as TIFF files. It was about 75 new lines of code. The library can also work with EXIF data now (read and write).

[2017-07-14 20:36] #11 closed

[2017-07-15 10:25] soadzoor commented on #11
You sir, are awesome!

[2017-07-16 15:46] Scimonster opened #13 "Update NPM"
Hi, can you please keep the version on NPM updated? It just requires bumping the version in package.json, in accordance with semver, and doing `npm publish`.

Also, you can specify dependencies (such as pako) in package.json.

[2017-07-16 16:08] syvaidya commented on #7
I have implemented new style JPEG compression support (Technote 2) (compression flag = 7). PR is at:

https://github.com/photopea/UTIF.js/pull/14

It needs dependency to be added on jpg.js (https://github.com/notmasteryet/jpgjs). I have not updated package.json to mention the same. Please update accordingly, and merge the PR.

I have tested this only with 1 sample file. If you find any issue pleas

[2017-07-18 13:24] photopea commented on #7
Hi, can you send me a TIFF image, for which it is useful?

[2017-07-19 13:35] syvaidya commented on #7
You can download from: http://support.decos.nl/berend/DOC019.zip
The file with "JPEG7" in the name should open fine now with my changes.

One more sample is available at: https://github.com/Twinside/Juicy.Pixels/raw/master/tests/tiff/quad-jpeg.tif

[2017-07-23 10:29] syvaidya commented on #7
Were you able to check the PR?

[2017-07-31 08:49] Scimonster commented on #13
My workflow is exclusively via package manager for a large project, so this is actually critical for me.

[2017-07-31 09:25] photopea commented on #13
I don't use "npm" in my workflow, and I am too lazy to learn how to use a new software. Can you put it onto "npm" yourself?

[2017-07-31 09:41] Scimonster commented on #13
Yes, but only if you give me access to this repository to be able to update package.json as needed, or if you commit to keeping it updated in accordance with [semver](http://semver.org/).

[2017-07-31 09:42] Scimonster commented on #13
The alternative is for me or someone else to make a pull request every time a change is made to update the version, but that may be more hassle.

[2017-07-31 09:45] photopea commented on #13
I tried to ask for some new features: https://github.com/npm/www/issues/173

[2017-08-01 10:41] syvaidya commented on #7
@photopea any update? Would you merge the PR?

[2017-08-02 07:56] Scimonster commented on #13
It doesn't look like that's going too well, and it would probably be several months before something like that is ready in any case. I would really like to be able to use your package in a few days.

I can think of the following options, let me know what you prefer:
 - Add me as a maintainer to this git repo (and others that should be published) to manage the Node side of things. I'll keep the ver

[2017-08-02 08:03] photopea commented on #13
I have added you as a colaborator. Don't know how to make you a maintainer.

Please do whatever you want, but keep the UTIF.js file usable in a browser as it is, without any additional processing by 30 more programs.

[2017-08-02 08:06] Scimonster commented on #13
Collaborator, maintainer, same thing. :)

I will make sure to keep it usable in a browser.

Thanks.

[2017-08-03 11:25] #13 closed

[2017-08-03 17:42] photopea commented on #7
Hi, I am very sorry, I was a little busy. I tried to use your code. It works well with "quad-jpeg.tif", but I had problems with "DOC019-JPEG7-orientation1.tif" from the archive - it seems like it does not have the table 347. Have you tested it?

[2017-08-04 03:41] syvaidya commented on #7
Sorry, I did not check with that file. As I mentioned earlier, I tested with only 1 file. I'll check out the other one. I hope it is not type 6 (even though the filename says JPEG7).

And yes, type 6 is pretty different than 7.

[2017-08-05 06:40] syvaidya commented on #7
@photopea I have fixed the issue. There are cases in new JPEG compression where JPEGTables might not be separately stored. I've taken care of that case now. Please take latest from the PR.

[2017-08-05 11:19] photopea commented on #7
Ok, thank you very much. We can finally close this :)

[2017-08-07 03:43] syvaidya commented on #13
@Scimonster would you please also add dependency for jpg.js (https://github.com/notmasteryet/jpgjs) in package.json? This is required for TIFF files having image data using JPEG compression. Maybe it can be marked as optional dependency (if it is allowed).

[2017-08-07 11:07] photopea commented on #13
@syvaidya  These dependencies are quite confusing ... I think that 90% of UTIF.js users will never deal with TIFF images with JPEG or Deflate compression, i.e. they don't need jpg.js or pako.js .  But the mechanism of NPM will include these dependency libraries anyway (making websites load slower, data transfer higher ...).

What would be a better way to deal with it?

[2017-08-07 11:13] Scimonster commented on #13
NPM is mainly designed for NodeJS, which is server-side and as such has no on-demand network transfer.

For people using NPM to manage packages for client-side use, either simply accept the extra dependencies, or you configure your build tools (browserify, webpack, etc) to simply mock it out.

[2017-08-08 03:04] syvaidya commented on #13
Maybe you can just mention in README or documentation that jpg.js should be manually added to the page if user wants to decode JPEG compressed files.

[2017-08-08 09:14] photopea commented on #13
Ok, so @Scimonster  please metion these libraries in NPM manifest.

[2017-08-08 09:50] Scimonster commented on #13
Huh. I published to npm but forgot to push to GitHub. Whoops! Pushed now.

[2017-08-30 21:45] kgrimes2 opened #16 "Converted image inverts colors"
I have been trying to use this software with the attached .tiff image. The image is successfully converted, but it appears that the colors are inverted. I've attached the pre-encoded image and the encoded image.

[W1829067576_15.IMG.tiff.zip](https://github.com/photopea/UTIF.js/files/1265185/W1829067576_15.IMG.tiff.zip)

![download 1](https://user-images.githubusercontent.com/13686706/29896449-de6

[2017-09-18 10:19] photopea commented on #16
Hi, it was fixed. Sorry for the delay.

[2017-09-18 10:19] #16 closed

[2017-09-18 20:42] alu305 opened #17 "Support for grayscale Jpeg images"
In order to support JPEG greyscale images please update the following line(within _decodeNewJPEG function) from:

img["t262"][0] = 2;

to:

if(img["t262"][0] == 6){
	img["t262"][0] = 2;
}

[2017-09-19 10:22] photopea commented on #17
Hi, can you show us a TIFF image, for which it is useful?

[2017-09-19 18:43] alu305 commented on #17
The grayscale images have only one sample per pixel vs 3 sample per pixel for color images.
See attache tiff file.
[346-0004_01.zip](https://github.com/photopea/UTIF.js/files/1315448/346-0004_01.zip)

[2017-09-19 18:43] #17 closed

[2017-09-20 09:32] photopea commented on #17
Hi, ok, I changed that line. Thank you very much! :)

[2017-10-08 16:35] photopea commented on #7
@syvaidya I am trying to parse .CR2 files (Canon RAW photo). The format is a TIFF format and images are encoded with type 6 compression (old JPEG). So it would be really useful to have it in UTIF.js

Do you know anything more about type 6? Could we use jpg.js too to parse it (maybe after some modifications - putting the content of some tags as a prefix of data, as you do now)? What do you think?

[2017-10-09 02:25] syvaidya commented on #7
I had started implementing support for compression type 6, but it is still work in progress. It is very complicated format compared to type 7. You can try my current implementation from:

https://gist.github.com/syvaidya/fb16051f6ae9578040a0d07bef6b757d

I am not getting time and so the work has stalled for past few weeks. Not sure when I can spend time on this next.

[2017-11-09 22:40] cloutiertyler opened #18 "Image does not display correctly after decoding to RGB8"
Before processing:
[original.tif.zip](https://github.com/photopea/UTIF.js/files/1459433/original.tif.zip)

After toRGB8:
![image](https://user-images.githubusercontent.com/6432361/32633232-91895a30-c55b-11e7-9090-f516316986d9.png)

It looks like it some scaling might be off? The white channel looks like it's getting clipped in all except the darkest locations.

[2017-11-17 19:30] photopea commented on #18
Hi, I updated the library. Your file works well in Photopea.com , which uses UTIF.js

[2017-11-17 19:30] #18 closed

[2017-11-17 19:37] cloutiertyler commented on #18
Excellent! I'll check it out. Thanks so much!

[2017-12-20 18:11] manticorp opened #19 "Unable to read very large files because of use of binary bit shifts."
Take the line:

[code]

For a very large image, this will cause a RangeError.

Take for example a 16535 x 9652 with bipp = 24, the result should be 478787460, but instead in javascript we get -58083452

By changing all instances of ```>>3``` to ```/8``` and all instances of ```<<3``` to ```*8``` we can open much larger files than previously.

So, the previous example would look something like this

[2017-12-20 18:50] photopea commented on #19
That is an interesting bug. I guess you are the firt person to open so large images with UTIF.js

What if you keep the previous version, but replace all >> with >>> ? Does it help?

[2017-12-21 08:45] manticorp opened #20 "UTIF cannot be used inside service workers because of dependence on window"
At the top of UTIF.js, we have:

[code]

To make it work in service workers requires adding just 1 line:

[code]

Any thoughts before I submit a pull request?

[2017-12-21 09:27] manticorp commented on #19
This seems to have solved it. I just replaced all instances of ```>>``` with ```>>>```, and it worked.

I can now open and decompress very large tiffs.

Now to find a way of putting those humungous images on a canvas! Every time I try, it seems to crash my browser.

Thanks for the help!

[2017-12-21 09:27] #19 closed

[2017-12-21 09:47] photopea commented on #19
I did the same thing in UTIF.js here at GitHub, so please, update it to keep being synchronized.

Your image has around 0.5 GB after the decompression. Allocating so huge canvas, creating ImageData for it, would take another 1 GB. Why do you even do it? Do you really have a display, that can show 16535 x 9652 pixels?

If not, I would suggest scaling it down. E.g. ten times: convert each 10x10px sq

[2017-12-21 09:59] photopea commented on #20
Hi, I have no experience with Service Workers, so I will have to believe you.

I relpaced every "window" occurence by "sefl".

[2017-12-21 09:59] #20 closed

[2017-12-21 10:25] manticorp commented on #20
That should work fine in most browsers and contexts from what I can tell 👍

[2017-12-21 10:36] manticorp commented on #19
Awesome, thank you.

Hmm...an interesting thought...I will investigate this, and see if I can get a decent resizing algorithm in javascript.

Largest *real* canvas size I expect to experience is roughly ~3200px wide and ~6000px tall (a 3x zoom overlay on the original canvas, so that the zoomed canvas element has a real size of 3x the on screen display and all movements are amplified 3x), and my ap

[2017-12-21 10:50] photopea commented on #19
There is no problem in manipulating your image in the browser. Just create the canvas according to the display screen. Either the user has zoomed out, so you show e.g. the 10x smaller version of the image. Or the user is zoomed in, but then you just copy the corresponding sub-area (e.g 1920x1080px) of your image. And when user scrolls the mouse wheel, you gradually update it with a shifted sub-are

[2017-12-21 12:28] manticorp commented on #19
Hmm - yes, this is true. I think I will have to go down this route.

I've managed to adapt some nice resizing algorithms (hermite, catrom, lanczos, etc) to work with my application now, so I think I will use a cached, resized image for the general display, and 1:1 slices of the data for the zoom.

Just for your interest, opening a 16535 x 9652px LZW compressed tiff file takes 29s (all time is take

[2017-12-21 12:31] photopea commented on #19
Maybe I could speed up the LZW decoding by optimizing my code. Could you send me your tiff file (or some other hard LZW file) to support@photopea.com ?

BTW. why do you use TIFF and not PNG?

[2017-12-21 13:51] manticorp commented on #19
It's not me who's using TIFFs, it's a customer facing application. People *love* tiffs.

I've had a look at the decompression code (only looking at LZW for the mo) - I'm currently just trying to understand it at the moment! Without really learning how LZW compression works, it's hard for me to even begin changing things in anything but the most naive manner. My solution is usually to just chuck mo

[2017-12-22 11:24] photopea commented on #19
Hi, I just made LZW decoding about 5x faster. Update your version.

Note, that you can open your large TIFFs at www.Photopea.com (if WebGL crashes, disable it at More - Use WebGL).

[2017-12-23 19:30] manticorp commented on #19
Wow! That's a considerable speed up, I will update my version and give it a try. 😁

It being Christmas might take me a while, but thanks for the updates, help and input!

[2017-12-24 12:34] manticorp commented on #19
I'm seeing a good speedup - I don't know how you did it, but it's working nice! Thanks for the update.

Files that were taking 30s to open now are taking about 10s. This is great!

Thanks again.

[2017-12-24 14:29] photopea commented on #19
This is weird. A file, that took me 14.5 seconds to load before, takes 2.8 seconds to load now ... I guess it depends on type of data (whether the compressed size is 2x smaller or 20x smaller).

[2018-04-05 13:36] syvaidya commented on #7
@photopea were you able to support type 6 jpeg compression?

[2018-04-05 14:05] photopea commented on #7
I don't understand JPEG at all, so I did not have courage to start looking into it.

[2018-04-08 10:02] syvaidya commented on #7
@photopea I have implemented type 6 support and created PR:

https://github.com/photopea/UTIF.js/pull/28

Please check and merge if okay.

[2018-04-08 19:03] photopea commented on #7
Thanks @syvaidya ! You are amazing! :)  I can finally close this issue after a year.

[2018-04-08 19:03] #7 closed

[2018-04-21 15:27] oeway opened #29 "Problem with loading tiff images"
I have some images produced from a software called [ImageJ](https://imagej.nih.gov/ij/download.html), when I try to load it in photopea, the loading get stucked.
This is the error:
<img width="582" alt="screen shot 2018-04-21 at 5 22 40 pm" src="https://user-images.githubusercontent.com/478667/39085834-e7dc1fd2-4588-11e8-91c7-5d9c06e931c8.png">

Here is my file: https://www.dropbox.com/s/7vtuifu67

[2018-04-21 15:35] photopea commented on #29
Hi, I can not download your file (it says 404). Can you send it e.g. to support@photopea.com ?

[2018-04-21 17:38] oeway commented on #29
hi, sorry, I removed it accidentally. This one should work: https://www.dropbox.com/s/7vtuifu67bswlp7/microtubules-raw-500frames.tif?dl=0

[2018-04-23 12:20] makr28 opened #30 "The decoding methods don't work right on one of my test images, due to rounding issues when working with bits"
Note: I have a fix for this issue and will get it in this week but wanted to log it.

What the image looks like with UTIF
![image](https://user-images.githubusercontent.com/37880962/39126012-f6154e06-46ce-11e8-9845-c7f3e5d4286b.png)

How the image should look

![image](https://user-images.githubusercontent.com/37880962/39126068-25861166-46cf-11e8-965c-18b935c69d78.png)

[2018-04-23 12:27] photopea commented on #30
Hi, I think I can fix it myself. Could you send us your TIFF file to support@photopea.com ?

[2018-04-23 14:07] photopea commented on #29
Apparently, the compression tag is missing in your file (which I have never seen before). In that case, it should be treated as no compression. I fixed it (please, update your UTIF.js).

[2018-04-23 14:07] #29 closed

[2018-04-23 14:22] #30 closed, assigned to nobody

[2018-04-23 15:01] makr28 commented on #30
thanks, for handling this so quickly but testing with the updated code, it still doesn't look write. Below is what is currently happening. I made sure it's hitting the new UTIF code when I ran the test.

![image](https://user-images.githubusercontent.com/37880962/39134783-6ea9801a-46e5-11e8-8ebe-e7ca1b72f10e.png)

[2018-04-23 15:15] photopea commented on #30
Hi, I don't understand how did you got an image that you are showing. It is 597x762, while your original TIFF is 5103x6589 .

I converted your TIFF into PNG (using Photopea with the latest UTIF.js) and below is what I got. It corresponds to how I see your TIFF in Windows Photo Viewer.
![dpi600kofax](https://user-images.githubusercontent.com/15955558/39135708-db023cc8-4719-11e8-98d2-ff22d71a3939.pn

[2018-04-23 15:27] makr28 commented on #30
The lines in the screenshot I just attached are not solid, It does not look like what you attached.

See what I've circled, those lines should be solid

![image](https://user-images.githubusercontent.com/37880962/39136456-4af3ffca-46e9-11e8-814e-2f61131196bc.png)

[2018-04-23 15:30] photopea commented on #30
You need to run Photopea on a screen with larger resolution, so you could see the original 5103x6589 image with solid lines.

This is the way how preview in Photopea works. It has nothing to do with UTIF.js .

[2018-04-23 17:54] makr28 commented on #30
You're right, I tested on something else and you're fix does work, it was something on our side. Thanks for your help! :)

[2018-04-24 12:17] oeway commented on #29
Thanks for the quick fix, it works now.

[2018-04-24 12:46] oeway opened #31 "Support for BigTIFF format for data larger than 4GB?"
I am thinking about the feasibility of using bigTIFF image format for very large image sequence, and I would like to have your opinion on the following aspects:

1. add big tiff support according to [the bigTIFF standard](https://www.awaresystems.be/imaging/tiff/bigtiff.html). Would this be possible? Even better thing is to have the "[OME-XML metadata](https://docs.openmicroscopy.org/ome-model/5.6

[2018-04-24 13:25] photopea commented on #31
Hi, we plan to support huge files with Photopea, too: https://github.com/photopea/photopea/issues/447

UTIF.js is meant for the web, and currently, there is no interface for a webpage to load and store data from a hard drive.  BTW. why don't you split your large Tiff into multiple Tiffs? I think it is more comfortable to work with one independent file, rather than a byte portion of some huge file

[2018-04-24 13:38] oeway commented on #31
Hi, thanks for the quick response, and good to hear that you are working on huge files.

Here, I prefer multi-frame tiff within a huge file is because when the number of frame goes up to 10,000 or even more, there is a huge overhead for the file explorer to even list all the files, we suffers a lot because of that and it introduce the overhead when copying and transmission.

Yet another reason is

[2018-04-24 13:47] photopea commented on #31
"file explorer" - what do you mean? If your files are named e.g. image0, image1, image2 .... the app would load them automatically by name. There is no need to run a file explorer.

BTW. have you thought about using some compression? It could be good for each frame separately, but maybe also compress in between frames. E.g. in video, the first frame is stored as full, and other frames are stored a

[2018-04-24 15:18] oeway commented on #31
"file explorer" means the "Finder" app on MacOS for example, we used a remote samba server to store these small single-frame tiff files (~2MB each), the Finder hangs when we even just click on the folder when it try to list all the files. That's why we are moving to the single multi-frame tiff file solution, and ideally bigTIFF solution as mentioned above.

The other reason as mentioned above, bro

[2018-04-24 15:29] photopea commented on #31
I have no experience with working with so large files in Javascript (which do not fit inside RAM).

What about having all TIFFs separate, but put them all into a one ZIP? The user will open a single ZIP file, your program would take a TIFF image from ZIP and process the small file with UTIF.js . So you just need a "streamed" ZIP library.

[2018-04-24 15:48] oeway commented on #31
I am thinking about that, we could just read part of the file with by [slicing files](https://www.html5rocks.com/en/tutorials/file/dndfiles/#toc-slicing-files), then decode that part of the file without read the actual content. Since in the ifds you can find the offset, we can also just use the slice api for reading any frame from disk and then decoding the image.
What do you think about that?

Fo

[2018-04-24 15:51] photopea commented on #31
Files from ZIP can be read separately, without decompressing the whole archive. Maybe you could ask JSzip authors to provide such feature. BTW. I am using my own UZIP.js for zip, but it is not public.

[2018-04-25 19:29] makr28 opened #32 "JpegDecoder is undefined when jpgjs is loaded - module.exports is empty"
I have a node project and I did an "npm install utif". This correctly brought in pako and jpgjs as well.
Pako can be found and is fine. But jpgjs module.exports is not being set.

In jpgjs line 102
if (typeof exports === "function") {
    module.exports = {
        JpegImage: JpegImage,
        JpegDecoder: JpegDecoder,
        JpxDecoder: JpxDecoder,
        Jbig2Decoder: Jbig2Decoder
    };
}

L

[2018-04-25 19:35] photopea commented on #32
Hi, I never used npm or Node.js . I use UTIF.js in a web browser.

Maybe @Scimonster  could help us?

[2018-04-26 15:39] oeway commented on #29
Hi again, I just notice that the version I installed from npm still have this problem. I checked the code in npm with version number  `utif@1.3.0`, it's different from the master branch. Could you please update the npm? Thank you.

[2018-04-26 15:47] photopea commented on #29
Hi, I do not use npm. Could @Scimonster update it?  I thought it would be possible to set npm to update automatically each time the GitHub repository changes, but it is not possible :(

[2018-04-26 18:19] makr28 commented on #32
@photopea  Hi, I figured out what was wrong with jpg.js but they have not been active for a few years. I forked jpgjs to my github (https://github.com/makr28/jpgjs) would you be willing to switch the dependency to it? If you don't like that idea would you be willing to fork it and put the change that fixes it in?

Thanks!

[2018-04-26 18:36] photopea commented on #32
The JpegDecoder that I use along with UTIF.js is a copy-pasted fragment of pdf.js , see here: https://github.com/mozilla/pdf.js/issues/6128

TIFF files containing JPEG compression are a "legacy thing". I recommend to convert them all to a regular JPEG and then use these JPEGs. Other compressions (CCITT, LZW, PackBits) are included in UTIF.js and do not require any additional library.

[2018-04-26 18:40] photopea commented on #32
@syvaidya You are the one who understands JPEG! :)  Could we insert all necessary parts of JpegDecoder into UTIF.js (only those JPEG features, that can be used in TIFFs)? How much code would it be? It is a bit unpractical to have a dependency.

[2018-04-26 18:43] makr28 commented on #32
In your package.json you have:

"dependencies": {
"jpgjs": "github:notmasteryet/jpgjs",

So you already are pulling in the dependency

[2018-04-26 18:44] makr28 commented on #32
If you want to take that dependency out, I can just put my version of jpg.js as a dependency in my project

[2018-04-26 21:35] Scimonster commented on #32
I'll take a look at npm and the dependency stuff over the weekend.

On Thu, Apr 26, 2018, 9:44 PM makr28 <notifications@github.com> wrote:

[2018-04-26 21:37] makr28 commented on #32
Thanks

[2018-04-28 20:37] makr28 commented on #32
Actually testing with the dependency take out of utif.js's node modules, it doesn't work right,  so we do need you to keep the dependency in your package.json but switch it to the working version.

It's the only way utif will work for node projects. This shouldnt affect what you use utif for as you dont use the node_modules folder or package.json in your projects but node projects will. And since

[2018-04-30 14:51] k1nger commented on #32
Yes Tiff files containing JPEG is a legacy thing, but there are many files still in existence today that are still that data type. Unfortunately managing long standing enterprise applications we need this support as well.

JPGJG was forked from mozilla/pdf.js 3-4 years ago. mozilla/pdf.js has long since enhanced their jpgjs while this has remained stagnant and unresponsive. That and it doesn't eve

[2018-04-30 15:01] photopea commented on #32
@k1nger  I would like to ask Mozilla to publish their JPEG decoders as a separate library (and maintain it in that library), and pdf.js would have a dependency on that library.  Otherwise, Github would be filled with dozens of copy-pasted fragments of pdf.js, which are not maintained by anybody anymore. Would you support me and help me emphasize this to pdf.js developers?

[2018-04-30 15:11] k1nger commented on #32
Yup, I think that's a good idea.

[2018-04-30 15:40] makr28 commented on #32
@photopea Another way would be to change your package.json where you are currently pulling in the unworking jpg.js to pull in pdf.js and switch the require to use their version of jpg.js and the jpegDecoder.

I support your campaign to have pdf js extract the jpegdecoder and I will comment on the issue but as of right now it doesn't look like they are going to anytime soon :(

If you aren't going

[2018-05-03 17:01] k1nger commented on #32
@Scimonster Have you made any progress with what you were looking into?

@photopea Since it looks like Mozilla is unresponsive I think it may be best to move forward with this issue and drop another release to npm. I can help.

[2018-05-10 08:02] Scimonster commented on #32
I switched the dependency to @makr28's fork of jpgjs and pushed it to NPM. Sorry it's taken me so long, i haven't been around very much. If someone else wants to take over managing the NPM side of things i'm happy to let them, assuming @photopea agrees.

[2018-05-10 08:02] #32 closed

[2018-07-29 06:36] hipstersmoothie opened #34 "Bundle Size"
`A small, fast and` - the code in this package may be small but the bundle is HUGE!

Total unminified code added by UTIF: 441.35kb 😭

https://bundlephobia.com/result?p=utif@2.0.0

[2018-07-29 06:47] kuckir commented on #34
Hi, UTIF.js alone supports about 95% of all tiff files. It supports 98% with pako.js and jpg.js . There is no library that supports all tiff files.

[2018-07-29 08:14] hipstersmoothie commented on #34
3% for 380kb extra seems like a bit much to me

[2018-07-29 08:18] hipstersmoothie commented on #34
Do you mind giving me the different types of TIFF files you test with? Including the unsupported ones. I want to test your assertion. I'm a maintainer on https://github.com/oliver-moran/jimp and I'm leaning towards moving away from UTIF since it takes up around a 1/3 of our bundle.

[2018-07-29 13:11] johnthad commented on #34
These are the test images used by [libtiff](http://simplesystems.org/libtiff/): http://simplesystems.org/libtiff/images.html

They are fairly comprehensive and small, which makes for easy testing. I've not used them in a while because they include many formats that are not my concern, in addition to _not_ including some of the buggy TIFFs that I'm often stuck writing workarounds for.

[2018-07-30 20:09] hipstersmoothie opened #36 "Encode EXIF data"
How would I encode EXIF data back into the tiff file on encode? The readme mentions that you can do it but not how.

[2018-08-01 08:05] justalways opened #38 "Some tiff files display wrong"
I test some tiff files with your code, such as:
![qq 20180801160250](https://user-images.githubusercontent.com/9329575/43509146-63a1537e-95a4-11e8-9b11-7b3cb6cfdc16.png)

To

![qq 20180801160344](https://user-images.githubusercontent.com/9329575/43509197-8680c8e8-95a4-11e8-9115-f6ffd88c9787.png)

help me ! thank you.

[2018-08-01 11:15] photopea commented on #38
Hi, can you send us your Tiff file to support@photopea.com ?

[2018-08-01 11:16] photopea commented on #31
I am closing it.

[2018-08-01 11:16] #31 closed

[2018-08-01 11:27] photopea commented on #31
Yes, it is possible to do with ZIPped files. But UZIP.js can not do that currently (we never had so huge ZIPs).

[2018-08-01 17:43] hipstersmoothie commented on #34
https://medium.com/the-node-js-collection/modern-javascript-explained-for-dinosaurs-f695e9747b70

modern front end applications concatenate  all the JS dependancies into a "bundle" that is served to the client. the bigger the bundle the slower the website. UTIF is nice an small.  JPG.js is quite large and makes the dependency a lot larger.

I'll take a look at UZIP. Seems like a good alternative.

[2018-08-01 18:53] photopea commented on #34
Sorry, I meant plain UTIF.js file, not UZIP.js (UZIP.js is an alternative to pako.js).

I create "bundles" manually with my own shell script. Is it possible to let NPM users choose, whether they need JPG support, or not? As I said beffore, JPG tiffs are quite rare.

[2018-08-04 09:33] seantw opened #39 "installation failed on Windows"
I get some error messages:

[code]
install log file:
[2018-08-04T09_18_23_181Z-debug.log](https://github.com/photopea/UTIF.js/files/2259382/2018-08-04T09_18_23_181Z-debug.log)

[2018-08-04 09:43] photopea commented on #39
Hi, I never used NPM. @Scimonster  could you help us with this?

[2018-08-11 01:51] revoyrm commented on #39
hmm That repo is still on my git, so it should work. I'll look into it

[2018-08-11 02:02] revoyrm commented on #39
Do you have git installed on your PC? You can check by typing: git in your command prompt. You will need git installed to install that package.

[2018-08-11 02:06] makr28 commented on #39
Sorry I commented with the wrong user. revoyrm is me, the jpgjs fork this uses is mine.

Anyway you can download git here --> https://git-scm.com/downloads

[2018-08-12 07:42] seantw commented on #39
I just installed this module using NPM.
I don't need to use git. and I don't know how to use git.
Just confused , why does image processing require git?
UTIF.js only 40KB, But installing git requires more than 40MB.

[2018-08-12 12:47] makr28 commented on #39
So earlier there was an issue with JPGJS which is needed for the jpeg decoders. This issue was only for when you were using nodejs. Which if you're doing npm, you are.

Jpgjs is a dead project, they dont accept contributions. So i made a fork and fixed it so it would work with nodejs projects. Since I was just fixing it in a fork and it wasn't my original project I didn't release it to npm. So we

[2018-08-15 17:12] hipstersmoothie commented on #39
@makr28 how do you feel about moving to jpeg-js instead? it's hosted on NPM and is a much smaller library.

[2018-08-15 17:16] revoyrm commented on #39
If it has the decoders needed, im game.
I can look into it.
On Wed, Aug 15, 2018, 1:12 PM Andrew Lisowski <notifications@github.com>
wrote:

[2018-08-15 17:30] revoyrm commented on #39
Im game with that. Ill look into it unless @photopea wants too

On Wed, Aug 15, 2018, 1:21 PM Andrew Lisowski <notifications@github.com>
wrote:

[2018-08-15 19:45] photopea commented on #39
Guys, I suggest to switch to the JPEG decoder from pdf.js : https://github.com/mozilla/pdf.js/pull/9729

[2018-08-15 20:50] revoyrm commented on #39
Thats good too

On Wed, Aug 15, 2018, 3:45 PM Photopea <notifications@github.com> wrote:

[2018-08-15 21:29] hipstersmoothie commented on #39
I'd say its not too good. That would increase your code by 200kb! Most being unused.

https://bundlephobia.com/result?p=pdfjs@2.0.0

What is the resistance to switching to jpeg-js?

* same funcitonality
* 16.6kb vs a whopping 402.6kB

cons:
* ????

If you guys choose to install pdfjs I'm gonna be forced to fork and publish UTIF so my bundle doesn't explode.

current: 441.35kb (jpgjs + pako + utif)

[2018-08-15 21:35] hipstersmoothie commented on #39
just utif alone adds 2-4 seconds to page load time on a GOOD connection

[2018-08-15 21:39] revoyrm commented on #39
From what i saw of his link, they seperated the decoders so i thought thats
all that would be pulled in.

On Wed, Aug 15, 2018, 5:29 PM Andrew Lisowski <notifications@github.com>
wrote:

[2018-08-15 21:43] hipstersmoothie commented on #39
did they separate them into a separate package? how would you go about only pulling the jpeg-decoder in?

[2018-08-15 21:48] hipstersmoothie commented on #39
something like this might work

[code]

but it still doesn't address the fact that the dependency is still enormous

[2018-08-15 21:58] hipstersmoothie commented on #39
It also looks like jpgjs from pdf-dist uses streams so you might have trouble using it in browser

[2018-08-15 22:14] revoyrm commented on #39
That I dont know. @photopea?

On Wed, Aug 15, 2018, 5:48 PM Andrew Lisowski <notifications@github.com>
wrote:

[2018-08-15 22:52] photopea commented on #39
Guys, I never used NPM or Node.js , so I don't understand some fragments, that you are mentioning.

I manually extracted JPEG decoder from PDF.js . It is "worth" attaching it for me in www.Photopea.com , as it is also used for opening JPG files.

TIFFs with JPG compression are quite rare and I would recommend not to attach any JPEG decoder, unless you are sure your TIFFs will need it. But I don't

[2018-08-15 23:34] revoyrm commented on #39
So you have to jpg decoders separate from PDF Js where for your website you
are just including the jpeg decoders not all of the other PDF stuff?

And the code is not included in the utif code, correct?

For me I need the decoders for Tiff documents because in the medical world
there's still a lot of them out there that use jpg.

If you have the decoders and a seperate git repo I can make it npm re

[2018-08-15 23:43] hipstersmoothie commented on #39
1. If he is doing that it is a highly inefficient way to do it. You are potentially includeing the jpeg decoder twice. and since jpgjs is huge it's probably adding .5mb to initial page load.

2. Def not included in utif as you are currently maintaining a working fork of jpgjs

@revoyrm Can you try with jpeg-js first? I still see no reason to go with a package that is 12.5x bigger for no gain

[2018-08-16 01:58] hipstersmoothie commented on #39
I can whip it together tonight. It's really more about if @photopea will merge it

[2018-08-16 09:03] hipstersmoothie commented on #39
I opened #40 but I would love to see it get down lower like @photopea mentioned above

[2018-08-23 03:08] hipstersmoothie commented on #39
@photopea we have more users hitting this bug. It would be great if you could take a look at my PR

[2018-08-24 08:18] rxluz commented on #39
@photopea  this package is breaking when I try to upload my application to AWS, is possible replace this to jpeg-js?

[2018-08-24 09:32] revoyrm commented on #39
Thank you and i can do it, you just delete the line

On Fri, Aug 24, 2018, 5:21 AM Photopea <notifications@github.com> wrote:

[2018-08-24 13:47] makr28 commented on #39
@photopea during my initial testing of the current code, it is working with old style jpegs but not new style jpegs. I am going to look into it more before I open an issue.

[2018-08-24 13:58] makr28 opened #41 "JPEG error: SOI not found"
I don't think this would be specific to Node.js but I don't know for sure.

But I am getting the following when using the latest UTIF master code, when I try to view a tiff document that uses new style Jpegdecoder.

The following code is in method UTIF.decode._decodeNewJPEG = function(img, data, off, len, tgt, toff)

`parser =  new UTIF.JpegDecoder();`

returns

[code]

then

`parser.parse("buff")

[2018-08-24 15:07] photopea commented on #39
Please, just send me a TIFF file, which does not work.

[2018-08-24 15:08] photopea commented on #41
Hi, could you please give us a file, which does not work with UTIF.js ? Are you sure that file worked before?

[2018-08-24 15:20] revoyrm commented on #39
Ok Here is our test tiff for new jpeg decoding.

On Fri, Aug 24, 2018, 11:07 AM Photopea <notifications@github.com> wrote:

[2018-08-24 15:31] photopea commented on #39
Hi, I tried to open your TIFF file Type7-TTN2.tif in www.Photopea.com (which still uses an old UTIF.js), and it does not work either. So I think that your file is corrupted. I tested some other Type7 compressed TIFFs with the new version of Photopea, and they work well.

[2018-08-24 16:07] revoyrm commented on #39
Can you please give me a working  test file?

On Fri, Aug 24, 2018, 11:32 AM Photopea <notifications@github.com> wrote:

[2018-08-24 17:03] revoyrm commented on #39
It worked with the previous version of Utif using the decoders pulled in
thru jpgjs, we had though. So there is something wrong with the decoder.

On Fri, Aug 24, 2018, 11:07 AM Photopea <notifications@github.com> wrote:

[2018-08-24 17:29] makr28 commented on #41
I tried multiple online converters to get new type 7 examples (I will email them to you. They do not work either. I can't get any Type 7 working.

[2018-08-24 22:25] photopea commented on #39
@revoyrm  Could you please tell me, which "jpgjs" do you have in mind?

[2018-08-24 22:30] revoyrm commented on #39
Sorry i keep getting my git accounts messed up due to me getting these
notifications in both emails. I am the same person is makr28.

The old version of utif that used my Fork of jpg.Js, the file I sent you
worked/ does work. And it went through the new jpeg decoder method in utif.

In the current version of utif it does not work. I also emailed you two
other type 7 jpg compress tiffjs that do not

[2018-08-24 22:34] photopea commented on #39
I tried to use UTIF.js with this code: https://github.com/makr28/jpgjs/blob/master/jpg.js  and I am getting absolutely the same error for your TIFF Type 7 files:  JPEG error: SOI not found  . So are you really sure it used to work with your files in the past?

[2018-08-24 22:47] revoyrm commented on #39
100% sure, my master branch still works. We are currently using fork of
utif from just before scimonster pulled my change (because we needed it
move and havent gotten around to switching it back.)

 This would make me think a different change may have broken it except that
I'm getting the error in the  Parse function

On Aug 24, 2018 6:34 PM, "Photopea" <notifications@github.com> wrote:

I tried t

[2018-08-24 22:55] photopea commented on #39
Could you send me the UTIF.js and JPG.js that you are using? You can copy-paste the JS code into pastebin.com .

[2018-08-24 22:57] hipstersmoothie commented on #39
@photopea would you merge it if I wrote tests? Upgrades generally go easier when there are unit tests

[2018-08-24 23:10] revoyrm commented on #39
Im not at my work laptop right now but when i get home, ill upload something

On Fri, Aug 24, 2018, 6:55 PM Photopea <notifications@github.com> wrote:

[2018-08-25 08:37] photopea opened #42 "JPEG 7 compression - wrong colors"
Following TIFFs with Type7 compression have incorrect colors. The PhotometricInterpretation is 2 (RGB), however, colors seem to be more like L*a*b*.

[tiff.zip](https://github.com/photopea/UTIF.js/files/2320463/tiff.zip)

[2018-08-25 08:37] photopea commented on #42
@syvaidya  could you take a look at it? Maybe the info about colors is inside the JPEG block.

[2018-08-25 08:38] photopea commented on #41
Hi. So this error was not related to a JPEG library, but to an incorrect reading of data from IFD. This bug appeared several months ago. Too bad you did not update your UTIF.js back then, so we could fix is earlier. All this time, I thought it is related to a JPEG library.

It was fixed and it should work now. But there is another bug - some files appear to have incorrect colors: https://github.co

[2018-08-25 08:38] #41 closed

[2018-08-25 08:38] photopea commented on #39
It was fixed and it should work well now.

[2018-08-25 10:25] syvaidya commented on #42
I'll try to check tomorrow. Been really busy past few days.

On Sat 25 Aug, 2018, 2:07 PM Photopea, <notifications@github.com> wrote:

[2018-08-26 06:01] hipstersmoothie opened #43 "Release"
Since the dependency troubles #39 have now been solved can we get a release?

[2018-08-27 08:14] cccRaim commented on #43
same problem, `jpgjs` cause install action slowly

[2018-08-27 08:19] photopea commented on #43
@cccRaim what do you mean? What is "jpgjs" and how is it related to UTIF.js ?

[2018-08-27 09:27] cccRaim commented on #43
@photopea
The `Dependencies` on NPM
https://www.npmjs.com/package/utif

![image](https://user-images.githubusercontent.com/7681138/44651207-48fa4400-aa1b-11e8-9536-af59bf0d0d2e.png)
---
And package.json contain the `dependencies `, it declare the dependencies in this project,
![image](https://user-images.githubusercontent.com/7681138/44651386-d50c6b80-aa1b-11e8-8aad-51ed5554cd16.png)
But the stran

[2018-08-27 10:33] photopea commented on #43
As I said, I never used NPM. @Scimonster , please update the NPM once you have time :)

[2018-08-27 10:42] cccRaim commented on #43
@photopea thx very much

[2018-08-28 12:06] makr28 commented on #41
Yeah I get that, unfortunately we couldn't use your UTIF without it being thru an npm release for stability reasons. Like if you update master and were using the your git URL in our package.json, we get every update. But for npm we don't automatically get new stuff unless we specifically change what version we are requesting.  So Once @Scimonster releases we can switch it back to yours.

Thanks fo

[2018-08-28 23:12] rthomps7 commented on #43
Thanks, @photopea. @Scimonster  - any chance you can update?

[2018-08-31 16:57] hipstersmoothie commented on #43
@photopea I've been getting bug reports *every* day. Currently this dependency problem breaks on the following platforms:

* AWS
* Heroku
* Travis CI
* Windows
* Netlify
* elasticbeanstalk
* Most other continuous integration environments

@Scimonster this is quite an important issue that's effecting dozens if not hundreds of users

[2018-08-31 17:00] photopea commented on #43
@hipstersmoothie I can let you do it yourself instead of @Scimonster , as I am also officially the maintainer of the NPM, too. Can you tell me what should I do?

[2018-08-31 17:06] hipstersmoothie commented on #43
https://docs.npmjs.com/cli/owner

you should be able to run the following to add me as a maintainer (note I have never done this myself)

[code]

[2018-08-31 17:09] hipstersmoothie commented on #43
Or you could just do it yourself. It's almost the same amount of commands. Just make sure you're on master

Steps:
1. change version in package.json to 2.0.1
2. run `npm publish` at the command line

[2018-09-01 20:27] #43 closed

[2018-10-06 06:41] reecefenwick opened #45 "How to scale image to smaller canvas?"
Thanks for the great library!

I'm trying to use this with React, and used the code for `UTIF. replaceIMG()` to get me started.

I'm using your sample image from https://www.photopea.com/api/img/G4.TIF which is quite large

I've setup a sanbox with a 600x600 canvas and I'm trying to scale that image to fit in with everything visible, but cannot seem to get context.scale(x,y) to work.

Are you able

[2018-10-06 10:04] photopea commented on #45
Hi, what exactly is your goal?  replaceIMG() lets you comfortably use TIFF images in <img src="..." /> elements. To make them smaller, you could apply a CSS for all IMG tags. Or you can copy-paste the replaceIMG() function and rewrite it your way.

If youwre working just with one image, use regular parsing, convert the image to RGBA8 and scale it down by computing an average pixel for each NxN pix

[2018-10-06 10:04] #45 closed

[2018-10-08 03:46] photopaul25 opened #46 "16 bit tif file suport?"
If I load a 16 bit tif file from Adobe Lightroom with or without compression into Photopea I end up with a corrupted output image.

<img width="1680" alt="screen shot 2018-10-07 at 11 38 25 pm" src="https://user-images.githubusercontent.com/43944052/46591672-42cf9c80-ca8a-11e8-9e1f-6e82bb6ae666.png">

Here is the same image as a 8 bit tif:
<img width="1680" alt="screen shot 2018-10-07 at 11 38 45

[2018-10-08 06:35] photopea commented on #46
Hi Paul, could you send us your TIFF image to support@photopea.com ?

[2018-10-08 12:39] photopaul25 commented on #46
@photopea Done! I sent the 8bit and 16bit versions. Let me know if you need more files.

[2018-10-08 17:54] photopea commented on #46
Ok, so as I expected, it was just an error in Endianity. Please, load the new UTIF.js . You can open your image in Photopea, too. Thanks for reporting it!

[2018-10-08 17:54] #46 closed

[2018-10-09 19:31] nkprince007 opened #47 "TypeScript support?"
It would be really nice and understandable to have type definitions for IFDs.

[2018-10-09 20:47] nkprince007 commented on #47
I have a type definition ready for one of my projects that uses `utif`. Could you review it and send a patch to DefinitelyTyped?

Reference: https://clbin.com/7U1hR

[2018-10-09 21:32] photopea commented on #47
Hi, I am not familiar with TypeScript at all :(  toRGBA8() returns Uint8Array , but you also mention the Buffer type, which I have never heard of.

[2018-10-09 21:51] nkprince007 commented on #47
`Buffer` type is the one used in `fs.readFile`. I think using `Buffer | ArrayBuffer` solves the problem.

I modified the definitions a bit more.

Could you review it again?

[code]

[2018-10-09 21:58] photopea commented on #47
I am not familiar with your syntax, I don't know what it means. I can not say, if it is right or wrong. I maintain only the JS version, I have a confidence to let you maintain the TypeScript bindings :)

[2018-10-09 21:58] #47 closed

[2018-10-10 03:03] photopaul25 commented on #46
Thanks for the quick fix I can confirm my 16 bit uncompressed files are opening properly now!

A 16 bit tiff from Lightroom with Zip compression is still showing the same issue. Would you like me to send you one?

What do you think would be the best way to get the 16bit RGB values? From looking over the code it appears that the data array inside decodeImages will hold all the decompressed bytes an

[2018-10-10 07:48] photopea commented on #46
Sure, send me the TIFF file to support@photopea.com .

I think it is enough to access just out.data array. You may need to reorder bytes depending on "isLE" property. Note, that toRGBA8 works with any TIFF file (even with 1bit black-and-white images).

toRGBA16() is rarely needed. It would expand 1bit images 64 times. You can make your "local" toRGBA16 function  for your purpose.

[2018-10-10 14:59] photopea commented on #46
@photopaul25 This time, there was an error with Prediction. I fixed it again. Thanks! :)

[2018-10-11 04:15] photopaul25 commented on #46
@photopea Your welcome, glad I could help! Lightroom 16 bit images with and without zip compressions are working for me now!

Making a local function makes sense. I didn't even think about 1 bit tif files. I am so used to a raw photography workflow where those files are 12-16 bit and some programs even generate 32 bit files for HDR.

[2018-10-11 06:17] photopea commented on #46
BTW in the last version, I also fixed the Endianity problem (I make sure, that it is always a Little Endian).

So you can simply do

    var data = new Uint16Array(ifds[0].data.buffer);

[2018-10-24 16:10] c-anna opened #49 "LosslessJpegDecoder is undefined"
Hello,

I've been using Jimp (https://www.npmjs.com/package/jimp) within an AWS Lambda function to do some image processing. Recently we encountered a strange error where the Lambda fails with the following error message:

```LosslessJpegDecoder is not defined```

`LosslessJpegDecoder` was not something I'd seen before, so I did some investigating and found that it occurs in UTIF.js (line 243 in v

[2018-10-24 19:45] photopea commented on #49
Hi Anna. UTIF.js is a library for decoding TIFF images. You seem to be decoding DNG images.

I do use UTIF.js at Photopea.com to decode DNG. I attach LosslessJpegDecoder.js using a <script> tag of HTML. I never used Node.js, NPM or AWS Lambda, I don't even know what it means.

I don't want all users of UTIF.js attach LosslessJpegDecoder to their files, because they will not need it for decoding re

[2018-10-24 19:45] #49 closed

[2018-10-24 19:59] c-anna commented on #49
Thank you for your help. When I opened this issue I thought I had been processing DNGs for some time using Jimp (which itself uses UTIF.js). After some investigation, I realized that I'd only started using it in the last day or so -- exactly when this error cropped up. If DNGs are outside the purview of UTIF.js then I will find a way to attach LosslessJpegDecoder to my project.

Thanks again for y

[2018-10-24 20:12] photopea commented on #49
We had the similar problem with JPEG-compressed TIFFs. They are quite rare, but users had many problems, so we attached the complete JPEG decoder into UTIF.js .

[2018-10-24 21:15] rdhenderson commented on #49
Would it be possible to include error handling to clarify that a peer dependency is required to process DNG?

[code]
or
[code]

[2018-10-25 14:13] Blatman opened #50 "16 bit Big Endian Tiffs not rendering correctly"
Just trying UTIF.js in desktop mode and it works well with Little-Endian TIFF's (II) but not so well if the TIFF is Big-Endian (MM) - the Big Endian ones also fail using Photopea online.

In desktop mode I am using the UTIF.replaceIMG() method which works well.

I have attached a zip file with the test files - the two 8 bit files were used as the source in LR for the 16bit LR pano and also for a 1

[2018-10-25 14:46] photopea commented on #50
Hi, I fixed it. I updated Photopea and UTIF.js file.

The problem was not in Endianity. One of your images contained three samples, while another contained four samples per pixel. The code was not ready for four-channel 16-bit images.

[2018-10-25 14:46] #50 closed

[2018-10-25 16:04] Blatman commented on #50
Superb - works great even with a 374M file from PS - I guess the fourth channel may have related to the alpha channel as that was the only real difference I could see apart from the Endianess.
Cheers

[2018-10-26 20:29] Blatman opened #52 "Canon CR2 (type of TIFF) just shows loading on Photopea and no display with UTIF"
Tried .cr2 file with UTIF and it doesn't work so tried it on Photopea and just get loading.
Tried a LR generated dng on UTIF and it didn't work but works OK on Photopea so will try UTIF again for the dng - should it work using the UTIF.replaceIMG() method?

Not sure if the cr2 problem is a major tweak but I think the Maker Notes are the main difference from a normal tiff (tiff is Little Endian (II

[2018-10-27 11:49] photopea commented on #52
Hi, the CR2 format is based on TIFF, but many of its areas (mainly the compression) are not publicly described anywhere.  We do not provide the CR2 support in UTIF.js or Photopea at the moment.

If you know anybody, who could help us with implementing CR2, it would be amazing!

[2018-10-27 11:49] #52 closed

[2018-10-27 15:40] Blatman commented on #52
Yup Ok - info on it does seem thin on the ground. I don't know anybody at this stage but this page is done by somebody who is keen to find out all about it - http://lclevy.free.fr/cr2/ - possibly not enough known to do the coding (dcraw will do it but is very slow).

Cheers,
Blane

[2018-11-13 19:37] Blatman opened #53 "DNG not working with UTIF.js"
Looking at the readme it suggests that DNG should also work and I see the LosslessJpegDecode has been included however after much pulling out of hair I can't get it to work.
Tried it with UTIF.replaceDngIMG method but that seems to only work with ifds[0] and DNG I think uses ifds[1] for the full image. With ifds[1] it works upto the UTIF.decodeImages part but then the rgba object is just full of 0

[2018-11-13 19:46] photopea commented on #53
Hi, UTIF.js only lets you parse the DNG file. To display the DNG (i.e. convert it into RGB), a lot of additional work is required (demosaic, many color transformations, processing opcodes). The DNG to RGB convertor would be probably much larger, than the UTIF.js library itself.

[2018-11-13 19:46] #53 closed

[2018-12-18 05:13] syvaidya commented on #42
@photopea sorry for being so late, but finally i am on vacation and got time to check this. The problem seems to be with JpegDecoder. If I don't decode the "buff" and directly save it as "jpg" files, then that image is shown with correct colors in any image viewer. It looks like that JpegDecoder is messing up the colors.

[2019-01-06 21:52] Blatman commented on #52
Good to see - my use case is for an offline app so given that UTIF will display a TIFF in HTML I've gone down the track of processing the raw's to an intermediate PNG which can then be converted to TIFF and displayed with UTIF - since most raw's can't be (re-)written to by exiftool, etc I've run with TIFF as the format of choice since it is pretty well a standard in the archival/scanning/photo wor

[2019-01-07 10:46] Blatman commented on #52
Yeah that would make utif.js useful for thumbnail/preview/DAM use with DNG/CR2 directly with reasonable speed

[2019-01-07 14:59] photopea commented on #52
Hi, I updated UTIF.js here, it will show previews of DNG/CR2/NEF files.

[2019-01-07 20:51] Blatman commented on #52
Very good, appears to work well for previews - .3fr (Hasselblad) raws will also show preview OK if 3fr added to the sufs var line 964
Cheers

[2019-01-08 19:57] dosstx opened #54 "Correct way to import UTIF.js in single page app?"
What's the correct way to import UTIF.js in a single page application?

I get the following error in console:
`Error in mounted hook: "TypeError: Cannot read property 'replaceIMG' of undefined"`

Full code here:
https://gist.github.com/dosstx/5dbe76220a3126cb84f7ed12c610015c

[2019-01-08 20:55] dosstx commented on #54
turned out I just had to remote the `this` keyword. Works now. Thanks.

[2019-01-08 20:55] #54 closed

[2019-01-19 19:04] photopaul25 opened #55 "How to determine bits per channel?"
Is there a way to determine the pits per channel of a tif file?  For example I am thinking it would be nice to have something like `ifds[0].bitDepth` like UTIF has `ifds[0].width`.

[2019-01-19 19:13] photopea commented on #55
TIFF files contain much more information, than just width, height and bits per channel, in so-called Tags (TIFF = Tagged Image File Format). Tags are numbers between 0 and 65535. I don't think it is right to define a "word" for each tag.

You can access Bits Per Sample using `ifds[0].t258[0]`  https://www.awaresystems.be/imaging/tiff/tifftags/bitspersample.html  . Tag 277 is also related to it (sa

[2019-01-19 19:13] #55 closed

[2019-01-19 19:59] photopaul25 commented on #55
That works for me, thank you for the quick reply!

I wonder if it would be worth making like a UTIF_Meta library where you can pass and ifd and it would build out a more user friendly property list for common fields, such as camera manufacture, and camera lens.

[2019-01-19 20:07] photopea commented on #55
I already have such database of tag numbers and string names, I use it for debug purposes (to quickly see, what data are available in a TIFF file).

I think you never need to print all TIFF tags in practice. You usually want to extract one or more specific tags, and it is easier to refer to them with a number in your code (it is also shorter).

[2019-02-04 13:43] smajl commented on #47
@nkprince007 Hi, would you be able to send a patch to DefinitelyTypes yourself?

[2019-02-07 12:50] smajl commented on #47
So I have updated the types a bit and created a pull request: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/32856

@nkprince007 I have given you a credit, thanks or the initial types.

[2019-02-12 16:25] massic80 opened #56 "Wrong documentation description of decodeImage from 3.0.0"
Hi,
I noticed that you just released version 3.0.0 on npm, where decodeImages becomes decodeImage.
The problem is: the fingerprint of the function changes
UTIF.decodeImages = function(buff, ifds) // 2.0.1
UTIF.decodeImage = function(buff, img, ifds) // 3.0.0

but the documentation doesn't cite it. I just created a pull request on [@types/utif](https://github.com/DefinitelyTyped/DefinitelyTyped/blo

[2019-02-12 16:42] photopea commented on #56
Hi, we only maintain the Javascript version here on GitHub. The description of UTIF.decodeImage() is here on GitHub, too.

Our fans made some NPM and TypeScript versions @Scimonster  :) maybe you should ask them.

[2019-02-12 16:42] #56 closed

[2019-02-12 16:51] massic80 commented on #56
Hi @photopea ,
I know you _only maintain the Javascript version here on GitHub_, but [your documentation](https://github.com/photopea/UTIF.js) says that

#### `UTIF.decodeImage(buffer, ifd)`
* `buffer`: ArrayBuffer containing TIFF or EXIF data
* `ifd`: the element of the output of UTIF.decode()
* If there is an image inside the IFD, it is decoded and three new properties are added to the IFD:
* *

[2019-02-12 16:55] photopea commented on #56
Do you mean the third parameter? It is there only to decode some raw Nikon files (.NEF). The README would probably be 2x longer, if I had to explain it.

It is never needed for TIFFs. You should call it with two parameters only.

[2019-02-12 16:58] massic80 commented on #56
Ah OK, thank you.
I figured out that the new parameter was the second, since `decodeImages` had an array as parameter.
Turns out it is the third :)
Moving on to update the pull request ;)

[2019-02-12 17:04] photopea commented on #56
TIFF files can contain many images, and users may want to decode just some of them (decoding all may take significantly more time and memory).

The old decodeImages() decoded all present images, but with decodeImage() you can decode only images that you need :)

E.g. RAW images contain both RAW and JPG versions of the image. In Photopea, the decodeImage() allows us to decode RAW only (skip decodin

[2019-02-13 22:48] massic80 opened #58 "How about moving to ES6?"
Hi,
I just submitted a pull request and noticed that UTIF is written in plain old ES5.
Moving it to ES6 (and following) would make it more compact, readable, "splittable" (one could import just the module parts he needs) and, when no transpiling will be needed, more performant.
I could give my support on the transition :)

[2019-02-13 22:56] johnthad commented on #58
I’ve used UTIF.js in a browser, but it required a bit of massaging. Maybe as part of creating an ES6 version would be something suitable for Node.js and browsers, or to output two modules, one for Node.js and one for the client side.

[2019-02-13 23:53] photopea commented on #58
I should note, that I only write JS code, which directly works in current browsers, without any additional manual or automatic editing.

I think that JS specifications are backwards-compatible, so my code should be ES6, too. Are there any specific syntactic features, that you would like to introduce?

[2019-02-14 09:52] massic80 commented on #58
There is nothing feasible in ES6 that is not feasible in ES5, but it's easier, quicker, more compact, more optimized, it natively supports classes and will be soon supported by all browsers (Microsoft will even transition Edge to Blink engine in a few months).
Meanwhile, there are lots of transpilers, but I can understand your comfort in not instantiating a transpiling stack :)
Sidenote: ES6 code

[2019-02-14 10:25] photopea commented on #58
"classes" in Javascript are just a syntactic sugar for prototype-based programming. I want this library consist only of "static" functions, so it is easily rewritable to C or other languages. There is no need for classes / constructors / methods etc.

I prefer to use "var" always, instead of combining var/const/let.

As far as I understand, ES6 modules are identified by files they are stored in. I

[2019-02-14 10:32] massic80 commented on #58
It's a long story (and the modules are just part of it): you can make modules and classes and inherit them.
It's too long to be written here.
Just a notice: yes, _"classes" in Javascript are just a syntactic sugar for prototype-based programming_, but classes in ES6 are NOT just syntactic sugar.
I try to quickly answer your last message: a module (in a file) can export several objects (classes, st

[2019-02-14 11:19] TomasHubelbauer commented on #58
The addition of a build system means higher barrier to entry for drive-by contributors and if it is just to be able to use ES6, I think there is no rush, eventually all the features will make it into the browsers and then we can use them all natively. There is certainly beauty to the no-build-system thing @photopea has going on here which I think would be a pity to lose just to be able to use some

[2019-02-14 16:29] johnthad commented on #58
Doh! I see what I was doing wrong. Thanks.

[2019-02-14 18:48] johnthad commented on #56
In `UTIF.decodeImage = function(buff, img, ifds)`, what do I pass as `img`? In the particular use case I'm looking at now, I have a small TIFF in Base64 inside an XML file. Previously my call looked like:

[code]

What should I pass for `UTIF.decodeImage = function(buff, img, ifds)`?

If I get something working, I'd be happy to make a PR for the README.md.

[2019-02-15 08:43] photopea commented on #56
@johnthad I believe it is all documented in the README. There is even a sample of code. Please, look at README and tell me, what exactly is not clear.

[2019-02-15 09:39] johnthad commented on #56
I did look. The `master` README.md is "a month ago" and has only `UTIF.decodeImage(buffer, ifd)`, _not_ `UTIF.decodeImage = function(buff, img, ifds)`.

Looking closer, it seems that the example`console.log(ifds[0].width, ifds[0].height, ifds[0]);` is better written as `console.log(ifds[0]['t256'][0], ifds[0]['t257'][0], ifds[0]);`

Now `var rgba  = UTIF.toRGBA8(ifds[0]);` gives me an empty `Uint8

[2019-02-15 09:56] photopea commented on #56
You should ignore the third parameter of UTIF.decodeImage. Call it with two parameters, as the docs says.

The "width" and "height" are new redundant properties, added by decodeImage(). I believe they are more comfortable to use, than ['t256'][0].

It is hard to tell why toRGBA8() gives you an empty array :( could you share your TIFF image with us?

[2019-02-15 10:01] johnthad commented on #56
Sorry, I saw my error, and my edit crossed your note. I was calling `UTIF.decodeImage(arrBuff, ifds);` vs. `UTIF.decodeImage(arrBuff, ifds[0]);`

And using `pages` as the `var`|`const` makes it clearer in my head than `ifds`

[2019-02-19 17:34] payitforwardnow opened #61 "Support for Multi-page?"
Support for multi-page tif? Maybe I missed it.

[2019-02-19 18:32] photopea commented on #61
Hi, do you mean reading multiple images, that are stored in a TIFF file? It should work already. UTIF.decode() returns an array of IFDs ("pages"). You can call UTIF.decodeImage() on each IFD.

[2019-02-19 18:32] #61 closed

[2019-02-21 13:50] johnthad opened #62 "A Clearer replaceIMG()"
If you're dealing with TIFFs that must be scaled down to fit their allotted areas, an Image will scale more attractively than a Canvas. To use an image, replace lines 1079-81 of UTIF.js

[code]
with the single line
[code]

The attached images show screen captures from a portion of a Group IV 300dpi Letter sized image when reduced to approximately one third its normal style. The left hand side show

[2019-02-21 18:13] photopea commented on #62
Converting the canvas content into a PNG and then into a base64 string (done by toDataURL()) will certainly take some extra time and memory, so the whole rendering process could be a bit slower.

But this scaling issue is really interesting. Does it work this way in all browsers? Could we set some parameter of the canvas to make the scaling smoother, as the IMG is?

[2019-02-21 19:04] johnthad commented on #62
Using Image improves scaling on Chrome, Firefox, and (testing through VirtualBox) Edge. Safari looks good with either Canvas or Image. IE9 and IE11 (again, using VirtualBox) looks poor with either Canvas or Image.

I admit this not a likely case. If a person is using UTIF.replaceIMG(), they likely have TIFFs in the desired size, and otherwise value speed over clarity. It may also be that those who

[2019-02-28 23:11] plainlystated opened #63 "Tiff from Base64"
I have a scanning device (hardware) which gives TIFF base64 strings as output, and I'm trying to show these strings in the browser.  I'm getting an error, though:

[code]

If I (outside of JS) decode the data and write to a file on a server, I can use the UTIF.replaceIMG function just fine.  I can also open this saved file on Photopea, and it looks fine.

The process I'm trying is:
[code]

And the

[2019-03-01 18:24] photopea commented on #62
Hi, I was thinking about it, and I really do like this idea with replacing the URI. It does take a bit more time and memory (350 ms extra time for 16 MPx image), but it makes everything cleaner. Only the "src" attribute of the image is replaced, so we don't replace actual elements, etc.

[2019-03-01 18:24] #62 closed

[2019-03-01 18:24] photopea commented on #62
BTW. it is implemented here now.

[2019-03-01 18:29] photopea commented on #63
Hi, this requires a bit of programming skills. You should call UTIF.toRGBA8 to get the pixel data, copy them into a canvas, call Canvas.toDataURL() and then use this new URL as a "src" of images. See how UTIF.replaceIMG() is implemented.

[2019-03-03 13:44] shahareldad commented on #61
Any complete code sample to view all images?

Thanks

[2019-03-03 14:17] photopea commented on #61
What do you mean? You can use TIFF URL inside <img> and call UTIF.replaceIMG() afterwards.

[2019-03-03 14:17] johnthad commented on #61
You can try my example: https://github.com/johnthad/utif-demo/blob/master/thumbnails.html  This opens a 13 page TIFF, and loads each image.

The full repo has the two TIFFs I used. Also note that UTIF.replaceIMG() has been changed since my replaceIMG() examples.

[2019-03-03 14:27] shahareldad commented on #61
Your example here is what I was missing, which is the understanding how to work with the canvas to load the images.

Thanks

[2019-03-04 15:18] #63 closed

[2019-03-11 00:38] severussnape357 opened #64 "UTIF only extracts preview of DNG"
`const fs = require('fs');
const UTIF = require('utif');
const UPNG = require('upng-js');
var buffer = fs.readFileSync('./test.dng');

//let tiffFile1 = UTIF.decodeImage(buffer, UTIF.decode(buffer));
imgLoaded(buffer);

function imgLoaded(e) {
    var ifds = UTIF.decode(e);
    UTIF.decodeImage(e, ifds[0])
    var rgba = UTIF.toRGBA8(ifds[0]); // Uint8Array with RGBA pixels
    var png = UPNG.enco

[2019-03-11 09:13] photopea commented on #64
Hi, this library only decodes the raw sensor data out of raw files. It is quite complex to convert such data into displayable "RGBA" (you need to do demosaicing, color space conversions, etc), it is out of scope of this library.

Photopea has its own non-opensource code to process raw photo data.

[2019-03-11 09:13] #64 closed

[2019-04-10 18:57] wouldntsavezion opened #65 "UTIF.toRGBA8 returns Uint8Array instead of Uint8ClampedArray"
It's a very simple fix to change the type of the[ `img` variable](https://github.com/photopea/UTIF.js/blob/master/UTIF.js#L986) to Uint8ClampedArray as I don't think it should ever **not** be clamped (If I understood the code correctly).

Also, the [Readme does state that the return of `toRGBA8` is `ready to use in context2d.putImageData() etc.`](https://github.com/photopea/UTIF.js/blob/master/REA

[2019-04-10 19:09] photopea commented on #65
You can create a clamped array on the same ArrayBuffer this way:

    var clamped = new Uint8ClampedArray( UTIF.toRGBA8(...).buffer );

I dont like clamped arrays, as they require boundary checking, when you write to them (so writing to them could be a little slower than Uint8Array).

Also, ImageData.data is read-only property. You can not set ImageData.data = array from UTIF.toRGBA8().

[2019-04-10 19:09] #65 closed

[2019-04-10 19:13] wouldntsavezion commented on #65
My point was that (again if I understood the toRGBA8 correctly), it shouldn't ever go out of bounds. So checking is kind of unnecessary.

With your example, you still end up creating two arrays so if there's really no need for extra checks, it's definitely slower every time.

[2019-04-10 19:26] photopea commented on #65
In my example, you don't create two arrays. You careate two ArrayBufferViews on the same ArrayBuffer. So it is slower only by a constant step - creating a viewer.

Why exactly do you "like" Clamped array more than a regular array? :D

[2019-04-10 19:32] wouldntsavezion commented on #65
I thought that might be the case, it's not that bad then. I just think it makes more sense to use clamped arrays when working with RGB colors.

Anyway thanks for clearing it up. I'll be using UTIF to manage textures for 3D models!

[2019-05-21 06:03] primozcerar commented on #13
Can you please update npm with the latest changes ie push a new version?

[2019-05-21 06:54] photopea commented on #13
@Scimonster Can you?

[2019-06-18 06:43] andormade opened #68 "I'm unable to re-encode the decoded image (unknown type of tag: 254)"
The TIFF image I'm trying to decode and then re-encode is a 16bit grayscale raw image from a scanner.

I have a code simple as this:

[code]

It throws me the this error:

[code]

I wasn't able to attach the TIFF file, because it's too big, but you can download it from this link: https://www.dropbox.com/s/tyfro4ybwqd2x14/image.tif

[2019-06-18 06:56] photopea commented on #68
Hi, UTIF.encode() is more like a nexperimental feature for encoding EXIF files. To encode images, use UTIF.encodeImage().

This library only supports basic TIFF encoding. We would like to encourage people to use PNG and other formats instead of TIFF.

[2019-06-18 06:56] #68 closed

[2019-06-18 08:38] Scimonster commented on #13
Done

[2019-06-22 06:43] jyfei903 opened #69 "多页tif只显示第一页"
多页tif只显示第一页
UTIF._imgLoaded = function(e){
嵌套for循环 i 名重复导致，重新修改嵌套for循环 i 改为 l
}

[2019-06-22 14:21] lkShi commented on #69
你好 大佬 没找到怎么改 没有嵌套for循环，但是

[2019-06-22 15:35] photopea commented on #69
This is only a basic feature. In your website, you can have

    UTIF._imgLoaded = function(e) { ....  }

to re-define the UTIFs function (before it is executed). You can customize it in any way you want.

[2019-06-22 15:35] #69 closed

[2019-07-06 16:41] luanltt opened #70 "encodeImage TIFF with compression G4 not work"
Hi,

I'm encountering this issue encodeImage TIFF with compression G4 not work.
Could you please check it?

[code]

Thank you very much!

[2019-07-06 23:01] photopea commented on #70
Hi, this library is mainly for reading TIFFs. Our simple TIFF writer saves data as 8-bit RGBA without any compression, even if you specify it as a tiff tag..

I would like to suggest you to store your image as PNG instead. It may be 2x larger than G4, but it will work everywhere.

[2019-07-06 23:01] #70 closed

[2019-07-24 11:48] mahmoodels commented on #42
Hi,
I have the same issue in the following file [sample.zip](https://github.com/photopea/UTIF.js/files/3426261/sample.zip), so how can i fix this issue?

[2019-08-01 17:56] tl24 opened #72 "Split multi-page Tiff"
Is it possible to split a multi-page tiff into multiple images?  Either single-page tiffs or png/jpg, with png or jpg being preferred.  I see that decode returns an array of IFDs, but what can I do with that? Can each one be saved to a file as it's own tiff file, or do I need to call something else to make it an actual tiff file.  Or if it can be converted to png or jpg how is that done?

[2019-08-01 18:02] photopea commented on #72
UTIF.js allows you to get pixel data out of a TIFF file (red, green and blue value for each pixel).

You will have to encode these data into JPG or PNG. The simplest way is probably to draw it into Canvas. In a browser, when you right-click the canvas, you can save the content as an image to your computer.

[2019-08-15 15:31] alexgman opened #73 "can we use this library to compile a tiff from multiple sources?"
I have files like png, gif, jpeg, pdf, and I need to be able to compile all of these into 1 tiff file. Can we use this library to do that?

[2019-08-15 16:45] johnthad commented on #73
It [seems to](https://github.com/photopea/UTIF.js#encoding-tiff-images) but I've not tried it.

[2019-08-15 22:44] photopea commented on #73
Hi, PDF is a vector format, TIFF does not support vector graphics.

GIF may be an animation. TIFF can store multiple images in one file, but TIFF viewers can not play them as animations.

What is the purpose of this? What about putting them all into one ZIP file, instead of one TIFF?

[2019-08-19 07:17] shijianjian commented on #63
@plainlystated Have you solved the problem? I got a similar issue that the output is always a black canvas.

[2019-10-07 15:12] massic80 commented on #47
Thanks for your precious work, UTIF is much easier to use in Typescript with your definitions ;)
I updated them to 3.x.

[2019-10-07 17:43] atwright147 opened #75 "Large preview from Raw Photo?"
Hi,

How would I go about getting the large preview JPEG from a Raw Photo? The readme suggests that that is a built in ability of UTIF but I cannot figure out how to do it?

I can see the start address and length of the preview in the exported data, but when I grab it directly and write it out is seems to be invalid (so there is definitely something here I don't understand :D.

Thank you for creat

[2019-10-07 18:13] photopea commented on #75
Hi, what format is your Raw photo? Is it DNG, NEF, CR2, ARW ... ?

How many images does UTIF return? One of them should be the JPG preview.

[2019-10-07 18:19] atwright147 commented on #75
It is a DNG, I do not know how to determine how many images it returns, I get rather a lot of data back. What should I be looking for?

[2019-10-07 18:45] photopea commented on #75
You should call UTIF.decode(), which returns an array. Then, call UTIF.decodeImage() on each element of the array. If there is only one element in the array, there probably is no JPG preview.

[2019-10-07 18:51] photopea commented on #75
Sometimes, the element (IFD) may have a property "subIFD", with an array of other IFDs.

An IFD contains properties like "width", "height", "data". If "data" starts with 255,216, it is a JPG file.

[2019-10-07 22:27] atwright147 commented on #75
There were lots of objects within the array and I do remember seeing a subifd in there. I'll have to wait until tomorrow to try it further.

You are astonishingly helpful. Thank you

[2019-10-07 22:29] photopea commented on #75
BTW. I looked at my collection of DNGs and none of them contains a JPG preview of the image :(

[2019-10-08 09:52] massic80 opened #77 "Wrong decoding of "compression 3" image"
Hi, I am using UTIF on a project and just created an image with Irfanview.
[tif.zip](https://github.com/photopea/UTIF.js/files/3701783/tif.zip)
Looks like it uses _compression 3_, but it doesn't work on my application nor on Photopea.
Is it a bug or isn't it expected to work?

[2019-10-08 09:57] photopea commented on #72
I will close it now.

[2019-10-08 09:57] #72 closed

[2019-10-08 09:58] photopea commented on #58
I would like to keep using my current ES5.

[2019-10-08 09:58] #58 closed

[2019-10-08 09:59] photopea commented on #73
I will close it now.

[2019-10-08 09:59] #73 closed

[2019-10-08 19:46] atwright147 commented on #75
Strange, all of my DNGs seem to have previews in them (I used to use node-exiv2 to extract them in my project). And exiftool seems to think there are some (`exiftool <filename>.dng | grep -i binary`).

What do you get from the following?
[IMG_6942.dng.zip](https://github.com/photopea/UTIF.js/files/3704227/IMG_6942.dng.zip)

[2019-10-08 22:06] photopea commented on #75
So your file is 16.825.530 Bytes. The compressed raw image data is  16.553.819 Bytes, so if there is a preview, it should be very small.

You should look at "subIFD" property, it is an array of two elements. The first one is a raw image, the second one is probably a preview, 1024 x 683 pixels. It is a JPG image, that starts at offset 212158 (t273) and is  59414 Bytes (t279).

I cut out that sectio

[2019-10-08 22:06] #75 closed

[2019-10-08 22:09] photopea commented on #75
If you want to find a meaning of the tags, just put into google "TIFF tag 273", you will find, that it is "StripOffset".

[2019-10-08 22:25] atwright147 commented on #75
That's good, that's the route I was pursuing :)

This is the code I came up with (do I need to process the JPEG before saving it?:

[code]

I get garbage out from this (I definitely don't understand what I am doing :)).

[2019-10-08 22:37] photopea commented on #75
Sorry, I never worked with node.js, so I don't undrestand many of your functions.

Is there any console or something, where you could browse the structure of the object? You need to access "subIFD" property, too.

[2019-10-08 22:54] atwright147 commented on #75
This is the output from `console.info(ifds);`

[code]

[2019-10-08 22:56] atwright147 commented on #75
This is the contents of `subIFD`:

[code]

[2019-10-08 22:57] atwright147 commented on #75
I could also `JSON.stringify()` that for you if you wish but that is a lot of output :)

[2019-10-08 23:02] photopea commented on #75
yes, that should work.

[2019-10-08 23:03] atwright147 commented on #75
Is ending at `t273 + t279` correct then?

[2019-10-08 23:07] photopea commented on #75
can you try slicing precisely bytes 212158 and  212158 + 59414 ?

[2019-10-08 23:17] atwright147 commented on #75
My current code:

[code]

My logging gives different number than you are quoting (just want to make sure we are on the same page here :)):

[code]

So, when I am reading from the file, I am reading from `80830` to `212158`.

Are you asking me to read from `212158` to `212158 + 59414`?

---

Apologies, I am going to have to go to bed now, but will continue this tomorrow, if that is okay? :)

[2019-10-08 23:21] photopea commented on #75
Please, don't show me any code, which I can not run.

In the log, that you sent me, there is

    t273: [ 212158 ],
    ....
    t279: [ 59414 ],

Use Javascript to access  these values.

[2019-10-09 20:14] atwright147 commented on #75
Sorry, I figured it would be useful for you to see where the logs were coming from and would help other dev in the future who were having similar issues.

I'm afraid I do not know how to do what you are asking here. If you were to do this in a browser, how would you achieve this (I should be able to replicate that in node).

Thank you for giving me so much of your time :)

[2019-10-09 20:41] photopea commented on #75
Ok I am glad it works :)

[2019-10-09 20:45] atwright147 commented on #75
Oh, no. Nothing has changed, it still isn't working for me

[2019-10-09 20:48] photopea commented on #75
I asked you to slice bytes between  212158 and 212158 + 59414  from your DNG file. Does it give you a JPG image?

[2019-10-09 20:52] atwright147 commented on #75
Eeeek, sorry I misunderstood your request from yesterday.

Yes, that does give me the JPEG -- Wahoo!

[2019-10-09 20:58] photopea commented on #75
UTIF.decode() gives you an object. Do you know, where the values   212158 and 59414 are located in that object?

[2019-10-11 17:12] atwright147 commented on #75
Found them:

[code]

[2019-11-01 20:10] spsolutionsmexico opened #78 "problem encoding tiff with multiple pages"
Hello, I have used the library before, there is the problem that when I process a tif with multiple pages for conversion to png, it saves all the pages in the same image.
Original:
![110203400461](https://user-images.githubusercontent.com/31898562/68053430-7ee72800-fcb1-11e9-8d89-ea2ffb130d0c.png)

PNG file:
![cbimage](https://user-images.githubusercontent.com/31898562/68052585-8e657180-fcaf-11e9-

[2019-11-02 00:23] photopea commented on #78
Hi, sorry, I never read the code of other people :(

Are you converting TIFF to PNG? "Encoding TIFF" - in your title - actually means converting an image into a TIFF format.

Can you share your TIFF file with me first? Both of your images open as PNGs for me.

[2019-11-04 21:17] spsolutionsmexico commented on #78
Is it possible to do it privately? In fact I am trying to convert a tiff to png, the result is the image that I put in my first comment.

[2019-11-04 22:20] photopea commented on #78
Send me your image to support@photopea.com

[2019-11-05 20:24] photopea commented on #78
I believe "pngjs" expects the data in 4 bytes per pixel (1 byte for Red, 1 byte for Green, 1 byte for Blue, 1 byte for Alpha) - I call it RGBA8.

But the uncompressed image data of a TIFF file (IFD.data) may have many different formats (e.g. 1 bit per pixel for black-and-white images). That is why UTIF.toRGBA8() was made - it extracts RGBA8 from any TIFF data.

Your TIFF image uses 1 bit per pixel

[2019-11-05 20:24] #78 closed

[2020-01-01 10:22] markb-trustifi opened #79 "Both API and website doesn't decode the image correct"
This is the original image [w21.tiff.zip](https://github.com/photopea/UTIF.js/files/4013940/w21.tiff.zip):
![w21](https://user-images.githubusercontent.com/29097494/71640376-62577400-2c91-11ea-9de1-17e838e16426.png)

and this is decoded version by API and website:
![Screen Shot 2020-01-01 at 12 18 54](https://user-images.githubusercontent.com/29097494/71640355-f96ffc00-2c90-11ea-9c3b-17036942be0a.

[2020-01-01 16:32] photopea commented on #79
Hi, I fixed it, it should work well now.

[2020-01-01 16:32] #79 closed

[2020-01-01 19:23] photopea commented on #77
UTIF was not able to correctly detect between Fax Group 3 1-D and Fax Group 3 2-D compressoin. My "guessing method" worked almost always, and your image is exactly the one where it does not work.

Turns out there is a TIFF tag 292, which explicitly specifies, that the data is Fax Group 3 2-D (and 1-D should be used otherwise). So I fixed it :)

[2020-01-01 19:23] #77 closed

[2020-01-02 09:43] markb-trustifi commented on #79
Thank you, it is working.
Now, there is a problem with different image - it is cropped and blurred.
![Screen Shot 2020-01-02 at 11 40 26](https://user-images.githubusercontent.com/29097494/71660818-e6befb00-2d54-11ea-9932-eef176d17309.png)

The original image: [check4.tiff.zip](https://github.com/photopea/UTIF.js/files/4015444/check4.tiff.zip)

[2020-01-02 17:46] photopea commented on #79
Fixed :)

[2020-01-09 15:05] massic80 commented on #77
When do you think it will be deployed on npm?

[2020-01-09 15:09] photopea commented on #77
I am sorry, I am not an NPM user and I maintain it only here on Github :/ Maybe @Scimonster  could upload it to npm?

Or you can just copy-paste the code from here into your project.

[2020-01-09 15:17] massic80 commented on #77
Ah, sorry, I wrote to you since I saw you also have an account there :)
I'd better wait for @Scimonster , since I want any of our machines aligned ;)
Thanks again!

[2020-02-26 14:09] vishnup95 opened #81 "Support for online URL's like s3 images."
Hey @photopea ,

Raising this issue as it has been haunting me for some time. The library is cool. I am able to view .tiff images in the browser when they are placed in my local directory. I have multiple files from an s3 bucket with a very weird URL. ( I will provide a URL if it's needed.)

UTIF.replaceIMG() seems to only work with images within the local directory but when I try to load an image

[2020-02-26 15:26] photopea commented on #81
Hi, in this case, the javascript on your site (UTIF.js) needs to access the binary file (its bytes), which comes from another domain.

I believe the problem is in CORS https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS . By default, websites can not read data from another domains, unless a specific header is included in a HTTP response.

[2020-04-01 10:53] photopea commented on #81
I think it was solved by CORS.

[2020-04-01 10:53] #81 closed

[2020-05-18 00:06] jimneff440 opened #83 "Black area on half of document"
A simple tiff file when converted is cut with a black portion covering half of the image
[sample.zip](https://github.com/photopea/UTIF.js/files/4641372/sample.zip)

[2020-05-18 20:59] photopea commented on #83
Hi, there was an error in our LZW decompressor. I implemented a new one, which works correctly and is even 15% faster. So just download a new version :)

[2020-05-18 20:59] #83 closed

[2020-05-25 18:43] skibulk commented on #42
I am also having this issue. Using the file [here](https://www.nightprogrammer.org/development/multipage-tiff-example-download-test-image-file/).

[2020-05-25 22:29] photopea commented on #42
@syvaidya  Our JPG decoder comes from the PDF.js library. Actually, when such JPG is located inside a PDF file, Chrome PDF viewer renders it correctly, but Adobe Reader and PDF.js render it incorrectly. So I am afraid they will not fix it, as that is how Adobe software handles such JPG.

Also, if you open that raw JPG in Photoshop, it is also displayed incorrectly.

[2020-05-25 23:35] skibulk commented on #42
I see you posted an issue in the pdf.js repo. Thank you. For reference and tracking purposes, that issue is located [here](https://github.com/mozilla/pdf.js/issues/11931).

[2020-06-06 05:31] syvaidya commented on #42
@photopea @skibulk Looks like the issue got fixed in pdf.js. Not sure though which release it will be part of. Once it is released, we can update the library in UTIF.js too.

[2020-06-06 11:52] photopea commented on #42
@syvaidya @skibulk I updated UTIF.js with the latest JPG decoder from PDF.js . It fixed the parsing of the two TIFFs  from the beginning of this issue.

However, it still handles the [this multipage TIFF file](https://www.nightprogrammer.org/development/multipage-tiff-example-download-test-image-file/) incorrectly (not as RGB) - white turns into pink. I extracted the JPG image and JPG viewers also

[2020-06-06 15:10] syvaidya commented on #42
@photopea I have done some analysis. Problem is that actual JPEG data in the file (inside SOS 0xffda marker) the components are not marked as RGB, but photometric interpolation in TIFF is RGB. I checked TwelveMonkeys java library to see how it handles this, and in there it will not do YCC to RGB conversion if photometric interpolation is 2 (RGB). But in our case, we don't have any way to tell jpg.

[2020-06-06 15:16] photopea commented on #42
@syvaidya  I can rewrite the JPEG decoder, to make it not convert YCC to RGB. But how do we decide when it is needed?

From what I see, the PhotometricInterpretation is always 2 for JPG inside TIFF, even for YCC data.

[2020-06-07 12:01] syvaidya commented on #42
@photopea I was also thinking of patching JpegDecoder, but you are right. I am also not sure how we'll determine whether YCC to RGB conversion is required or not. Can you give me various TIFF samples that you have, so that I can check what other libraries are doing for each and maybe it will give some idea.

[2020-06-07 12:03] syvaidya commented on #42
@photopea by the way, will you be okay if I convert the source code to a proper npm project, and then keep jpg.js and pako modules external to actual code? We can keep the built UTIF.js checked-in to github, but every time source changes, we'll have to do npm build.

[2020-06-07 12:56] photopea commented on #42
@syvaidya I don't have any JPG7-TIFFs other than these three. Maybe you can find more online.

I am not a user of NPM. I really doubt the latest JPG decoder is available on npm (I copy-pasted it and manually edited some parts for better minification). The current UTIF.js does not have a JPG dependency. I can also replace the pako.js dependency with my own inflator 4 kB, 2x faster than pako.js

[2020-06-13 08:07] syvaidya commented on #42
@photopea I understand. At least can we have all the third party code unminified within UTIF.js? It is difficult to fix something in JpegDecoder when it is minified. Maybe you can give UTIF.js which contains no minified code, and then another UTIF.min.js which has full code minified (for production use).

[2020-08-05 15:15] ChristHeinrich opened #84 "Compression 'deflate' support"
If you use the deflate-Compression, the whole document is black.

Example .tif with these tags:
deflate.tif:
SubFileType (1 Long): Page
ImageWidth (1 Long): 1654
ImageLength (1 Long): 2338
BitsPerSample (3 Short): 8, 8, 8
Compression (1 Short): Deflate
Photometric (1 Short): RGB
StripOffsets (293 Long): 2571, 2632, 2693, 2754, 2815, 2876, 2937,...
SamplesPerPixel (1 Short): 3
RowsPerStrip (1 Long)

[2020-08-05 15:19] ChristHeinrich opened #85 "missing photometric-tag shows white document"
If the Photometric-tag (for color schema) is missing, the whole document is white. Other Libs e.g. tiff.js can display the file correctly.

Example .tif with this tags:
Tif_WithoutPhotometric.tif
SubFileType (1 Long): Zero
ImageWidth (1 Short): 1728
ImageLength (1 Short): 2444
BitsPerSample (1 Short): 1
Compression (1 Short): LZW
65535 (1 Short): 1
StripOffsets (44 Long): 8, 186, 2033, 4899, 8101,

[2020-08-05 15:26] photopea commented on #84
Hi, are you trying to parse a TIFF file with UTIF.js ? Can you share that file with us? Can you open it at www.Photopea.com ?

[2020-08-05 15:31] photopea commented on #85
Hi, I think that tag must be present in every TIFF file. So your file is corrupted, it does not correspond to the specification.

I think that updating parsers to handle corrupted files is wrong. If we do it, people will care less and less about the specification, and the corrupted files will become a mainstream.

[2020-08-06 07:45] ChristHeinrich commented on #84
Hi, same result on www.Photopea.com.
Here is the zipped tif-file:
[deflateTif.zip](https://github.com/photopea/UTIF.js/files/5033292/deflateTif.zip)

[2020-08-06 08:39] photopea commented on #84
I fixed it, thanks for reporting :) The new UTIF.js is here and also at www.Photopea.com

[2020-08-06 08:39] #84 closed

[2020-08-06 08:40] photopea commented on #85
But I can look into it if you share your TIFF file with us.

[2020-08-06 09:15] ChristHeinrich commented on #85
Thank you. Here is the file:
[CAS_OhnePhotometric.zip](https://github.com/photopea/UTIF.js/files/5033857/CAS_OhnePhotometric.zip)

[2020-08-06 10:20] photopea commented on #85
It is fixed too :) although, I have seen a RGB TIFF file also without a PhotometricInterpretation tag. So it is not clear how should be the image interpreted, when this tag is missing.

[2020-08-06 10:20] #85 closed

[2020-08-14 10:03] jebastincharles commented on #42
@syvaidya
Can you show some light whether the above issue is fixed?.

[2020-08-15 08:35] syvaidya commented on #42
No it is not.
@photopea I frankly need non-minified code to be able to debug this within jpg.js. Did you think about my suggestion in last comment?

[2020-08-15 10:52] photopea commented on #42
@syvaidya The current unminified JPEG decoder is here: https://pastebin.com/xd3kMuBB .  But I don't think we need to modify it or even know how it works.

Note, that we fixed the original problem of this issue (making UTIF.js work with the two TIFF files at the beginning). So now, we are trying to make it work only with this file: http://www.nightprogrammer.org/wp-uploads/2013/02/multipage_tiff_ex

[2020-08-17 15:25] akidee opened #86 "encodeImage does not work"
To test reading and writing, I load an uncompressed 16 bit RGBA TIFF:

	var buffer = fs.readFileSync(process.argv[2])
	, ifds = utif.decode(buffer)
	if (ifds.length === 0) throw new Error('No IFD in TIFF found')

	const img = ifds[0]
	utif.decodeImage(buffer, img)

Result:

    {
      t256: [ 4004 ],
      t257: [ 3001 ],
      t258: [ 16, 16, 16, 16 ],
      t259: [ 1 ],
      t262: [ 2 ],

[2020-08-17 16:19] photopea commented on #86
Hi, are you using the latest UTIF.js from here? Do not use a npm version, as it is very old.

[2020-08-17 17:56] akidee commented on #86
I used the NPM version.
Now I have downloaded the master version from here, installed its dependencies and uninstalled the NPM version. Same problem with the size of the returned buffer and the TIFF file I cannot open in Mac OS.

[2020-08-17 18:04] photopea commented on #86
In encodeImage(), the first parameter is the RGBA8 data. You can obtain RGBA8 data by calling UTIF.toRGBA8(...);

You can not create 16-bit TIFF files with UTIF.js at the moment. If you are really serious about images, use the PNG format instead of TIFF. You can use our UPNG library.

[2020-08-17 19:28] akidee commented on #86
OK, I understand. You should make clearer that the rgba must be RGBA8 data. I need support for 16 bit data. I am already creating an implementation based on this code: https://cdn.jsdelivr.net/npm/@bt-imaging/tiff@1.0.1/tiff.js
I will post my implementation as soon as possible.

[2020-08-26 07:03] omkarg18 opened #87 "Angular support"
Hi Can you share the angular sample app.For tiff usage.I trying to render tif image based url received from api eg: somehost\temp\sample1.tif .
thanks

[2020-08-26 12:51] johnthad commented on #87
I am using LitElement, not Angular, but perhaps what I'm doing may be of
help.

The image servlet I call may return TIFF on non-TIFF images, so my
image-viewer web component tests for that. You'll see I'm using
LitElement's updated() method to watch for changes in the URL. This should
be similar to using the custom element's connectedCallback():

// Must deal with three (3) possibilities:
// TIFF,

[2020-09-09 15:23] thany opened #88 "toRGBAx"
Can we please have a `toRGBAx` in addition to `toRGBA8`?

This would return pixel data using an arbitrary amount of bits per channel. We would have to pass how many bits per channel we need returned. The function could also have to return how many bits the pixels consist of, if number of bits is not passed. It's very common for RAW-ish images to have been saved with 12 or 14 or more bits per chann

[2020-09-09 15:28] thany opened #89 "Unminify blobs of code in UTIF.js"
There are two big blobs of minified code in [UTIF.js](https://github.com/photopea/UTIF.js/blob/master/UTIF.js). Please unminify them.

If folks need minification in their projects, they will already have that set up. A library doesn't need to come minified, and especially shouldn't have minified code in its *source* code.

Minified code in sourcecode always looks and feels like trying to hide some

[2020-09-09 15:49] photopea commented on #88
If you need to work with RAW images, there is usually just one number per pixel (red, green or blue), but never all three (RGB).

You would have to do demosaicing. I think RAW processing should not be a part of UTIF.js, as it would make the library 4x larger.

You can implement toRGBA8() yourself, by reading the TIFF tags and the decompressed binary data in the "data" parameter.

[2020-09-09 15:54] photopea commented on #89
I do not want to release my Lossless JPEG decoder as open-source, I can offer it only as obfuscated code (as a "black box").

I believe the minified parts will never need to be changed, and we can use them as black boxes. Since UTIF.js is just one long file, having these minified parts helps navigating in it.

[2020-09-11 08:28] thany commented on #89
Then it should not be in source code like that. Please reference it by importing a file that is minified, and marked as such. So a minifier can take that into account, and can choose not to minify minified code.

You know that is not true.

There's no compelling reason, as far as I can tell, for it to be that way. One long file is almost always harder to navigate than a couple of smaller files, wh

[2020-09-11 08:31] thany commented on #88
I didn't mean to use this feature for RAW processing. Just saying that DNG can contain more than 8bpc, whereever said DNG comes from, be it a RAW from a camera/scanner, or someone converting a PNG48 to DNG, or someone just being clever with Photoshop.

[2020-09-11 09:44] photopea commented on #89
I really like when a library is just one JS file. It does not require multiple <script> tags, or concatenating JS files with some extra software.

I kow it is true that minified parts will never need to be changed.

I bleieve your minifier should be able to handle any valid javascript code. Whether the code is or is not minified is only a subjective opinion.

[2020-09-11 09:49] photopea commented on #88
You should access the "data" property in such cases. Also, often, it is not clear how to convert e.g. 14 bits to 16. Are we supposed to ad two zeros or two ones?

E.g. converting 4 bits to 8 is clear, as you multiply it by 17 and get integers between 0 and 255.

As I said, toRGBAx() makes no sense for DNG. DNG contains just one sample per pixel (e.g. red) and it is not clear what should be the oth

[2020-09-11 09:49] #88 closed

[2020-09-15 12:08] thany commented on #88
You provide your own answer. This is always a beautiful thing to happen, don't you think? Here it is:

There's your answer.

There's no difference between upscaling 4 to 8 bits, and upscaling 14 to 16. The former can be done by `<< 4`, the latter by `<< 2`. There's really nothing much more than that.

What are you on about? It seems like you say DNG only contains red. I'm pretty sure DNG can conta

[2020-09-15 12:24] thany commented on #89
One file is really only an advantage if you're literally copypasting the library into a project. But that's not how things work, generally speaking, given modern tooling such as webpack or what have you. If you really want to provide a download for a single file, for those who haven't grown out of using `<script>` tags, you can still do so.

But mind you, *source code* should be exactly that. Mini

[2020-09-15 12:41] photopea commented on #88
I believe you are confusing the bit shift to the left and right: >>  and << .

If we convert 14 bits to 16 by adding two zeros, I think that is not what most of people expect, because the maximum - the value with sixteen ones (0xffff) would be unreachable.  If we scale it proportionally and then rounded to integers, it would mean losing quality.

In raw photography, every pixel contain just one va

[2020-09-15 12:44] photopea commented on #89
This is my library and I decide what is the structure of my code :P

[2020-09-15 12:44] #89 closed

[2020-09-16 09:13] thany commented on #89
Sure, it's all yours, mate. I'm only pointing out bad practice. Trying to be helpful.
This will bite you further down the line at one point. I've been there. Many times. So don't say I didn't warn you.

When you do split up your code properly, I'll be back to open an issue that just says "told you" 😄

[2020-09-16 09:18] thany commented on #88
You don't need rounding. If you shift by 2 bits (essentially multiplying by 4), you will never end up with non-integer values 😃

And yes, you're right, I meant the `<<` shift-left.

[2020-09-16 09:29] photopea commented on #88
No, when converting 4 bits to 8 bits, I do not add four zeros. I multiply it by 17 (instead of 16) - as I said above. The number "1111" is converted to "11111111" (15 to 255).  The minimum and maximum values for 4 bits are converted to minimum and maximum values for 8 bits.

I tihnk it is a problem, when a maximum value for 14 bits is not converted to a maximum value for 16 bits. If we added "11"

[2020-10-08 14:35] wshart commented on #88
@photopea Would it be more reasonable to make a version of the toRGBAx where x is 16 or 32?

I have to work with a lot of 16 and 32-bit microscopy TIFFs that really benefit from the extra precision.

I'd just hash it together myself, but it's a bit beyond me!

[2020-10-08 15:00] photopea commented on #88
@wshart In that case, I think you should be able to read the "data" parameter directly, which will contain the data that you need.

[2020-11-04 22:45] benwiley4000 commented on #42
I'm running into this issue with a dataset of compression-7-encoded tiff images... I assume there's no news?

[2020-11-04 23:02] photopea commented on #42
@benwiley4000 do your TIFF images work well in other programs?

[2020-11-04 23:42] benwiley4000 commented on #42
@photopea they work well in macOS Preview, which supports JPEG and LZW compression, and they were created by a data scientist who used a python image library to encode the images. Unfortunately I can't share the image set. When I converted the images to LZW they displayed great with UTIF.

LZW:

![Screen Shot 2020-11-04 at 6 39 49 PM](https://user-images.githubusercontent.com/13558253/98179626-2e5

[2020-11-05 00:12] photopea commented on #42
I think the error is the same as in our previous images.

BTW. if you can choose to what format save, why don't you save directly into JPG? The JPG inside TIFF just makes the output files bigger.

You can have multiple images in one TIFF file, but having multiple JPG files in a folder is pretty much the same.

[2020-11-05 00:18] benwiley4000 commented on #42
@photopea good question, I asked the same question to the guy building the dataset. He said he's using the TIFF basically as a container format for storing files and metadata. Ultimately I'm not the one building the dataset so I'm trying to support what users are throwing my way. 😄  But I definitely mentioned that LZW-compression has better support.

[2020-11-25 15:50] aashay8 commented on #42
+1

[2020-12-17 02:10] RhaldGian opened #90 "UTIF.decodeImage not working"
Hi everyone,
I'm trying to extract images & metadata from multipage tiff file. When I do UTIL.decode(tiff)  I'm getting the right response but when I call UTIL.decodeImage(tiff, response[0]) it returns undefined. please thank you.  I'm using 3.1.0 from npm thank you.

[2020-12-17 08:32] photopea commented on #90
Hi, the UTIF.decodeImage() does not return anything. Please, read your manual to learn what it does: https://github.com/photopea/UTIF.js

Also, to be sure, use the latest version from here. It is hard to tell who published that NPM version, and when.

[2020-12-21 06:07] 1456118242 commented on #63
@plainlystated Have you solved the problem? I got a similar issue that the output is always a black canvas.

[2020-12-21 08:45] photopea commented on #63
I think you just need to convert Base64 back to a binary file: window.atob() , then to ArrayBuffer, and give that ArrayBuffer to UTIF.

[2020-12-22 07:36] 1456118242 opened #91 "not support LZW ?"
When I render the tiff in LZW format, it is a black canvas. Below is my LZW tiff file. Please help me to see it.
[tif.zip](https://github.com/photopea/UTIF.js/files/5728408/tif.zip)

[2020-12-22 07:37] 1456118242 commented on #91
@syvaidya

[2020-12-22 07:37] 1456118242 commented on #91
@photopea

[2020-12-22 07:39] RhaldGian commented on #90
Hi, thank you for your response, Is there a way for me to get the colorspace/resolution of image in tiff file using data array (Uint8Array) created by UTIF.decodeImage()?

[2020-12-22 09:01] 1456118242 commented on #91
@syvaidya @photopea I use <a href="https://github.com/seikichi/tiff.js"> tiff </a> solved this problem 。I hope he is useful to you

[2020-12-22 09:19] photopea commented on #90
Hi, you need to access specific TIFF tags, like "tXYZ", to find a resolution ("DPI"). The number of lines / columns is stored as "width" and "height" after calling UTIF.decodeImage();

If you need to render the image, use UTIF.toRGBA8(), which will convert the data into RGBA8 format. It is all described in our manual.

[2020-12-22 10:19] photopea commented on #91
Hi, I am very sorry, there really was a bug and it is fixed now. Thanks for sharing your file!

[2020-12-22 10:19] #91 closed

[2021-01-13 05:19] smsroql12 opened #92 "how to tif image decode set order by synchronous?"
hi i was wondering.
it's my code.
[code]

i just want finish first loadImage function, and second loadImage function start. and if finish second loadImage function, next third loadImage function start ..... fourth .. fifth ..

now, when added html, my decoded tif image is mixed up.
callback is not work, settimeout is show up cors error and not work..
how to wait for function to finish?

[2021-01-13 14:19] photopea commented on #92
Sorry, I am not familiar with JQuery :(  Also, I am not familiar with async / await.

If i were you, I would create HTTP request, wait for the download to finish (event listener), and once it finishes, I would start another request.

[2021-01-13 16:12] johnthad commented on #92
Look at this example: https://github.com/johnthad/utif-demo/blob/master/thumbnails.html

It opens a multi-page TIFF image, then decompresses and displays each image image in turn. The trick is to call the `loadOne(event)` function as the event handler of the previous image's `load`  event.

[2021-01-14 01:00] smsroql12 commented on #92
Thank you for the reply.
i dont decode multipage tiff image. it's only one page tif image.
@photopea Thanks photopea. i used onreadystatechange. but not work. i am not familiar javascript. sorry. there is detailed way?
i will use for loop.
[code]
@johnthad Thanks johnthad. umm.. i can't perfectly understand your reply. sorry. where is load event? this mean is onload event?
[code]
i used this code.

[2021-01-14 02:20] smsroql12 commented on #92
@photopea @johnthad
Thanks for the reply.
i work out.

first, create img tag. and img tag in tif image link.
finally, use UTIF.replaceIMG() function.

Thanks.

[2021-01-14 02:20] #92 closed

[2021-01-25 21:24] thany opened #93 "decode & decodeImage return the embedded thumbnail"
`decode()` returns a single IFD, which is the embedded thumbnail. The full size image is definitely in there. XnView can view it,and Exiftool reports two "subfiles" (the first being the thumbnail). And indeed `decodeImage()` adds the width&height of the thumbnail, instead of the actual picture.

This is a DNG generated with Adobe DNG Converter, preserving embedded original RAWs.

The actual image

[2021-01-25 21:28] photopea commented on #93
Hi, can you open your DNG in www.Photopea.com ? Do you see what you would expect?

[2021-01-25 21:38] thany commented on #93
I sure do!

Btw I was wrong about `t50740`, I misread the lengh of that array. The data must be somewhere else.

[2021-01-25 21:45] photopea commented on #93
DNG files often contain the raw image in the "subIFD" tag "t330" https://www.awaresystems.be/imaging/tiff/tifftags/subifds.html

Thanks to this tag, a TIFF file is not a linear list of IFDs, but more like a "tree" (your single IFD is just a root of that tree).

[2021-02-02 15:53] thany commented on #93
I see, I found them. So can you explain how to read a DNG proper then? In other words, what does Photopea do to get to the full-res DNG picture? I imagine maybe it loops through the subIFDs and just grab the biggest one or something?

And does the full-res version in a DNG *always* sit in one of the subIFDs?

[2021-02-02 16:12] photopea commented on #93
The content of DNG is described here: https://www.adobe.com/content/dam/acom/en/products/photoshop/pdfs/dng_spec_1.4.0.0.pdf

Photopea loops through all IFDs (and sub-IFDs) and looks for the one with the biggest resolution. Usually, there is only one IFD. But sometimes, there are thumbnails (which are smaller). DNG files contain raw data from the Color Filter Array - https://en.wikipedia.org/wiki/

[2021-02-03 07:45] photopea commented on #93
For RAW images, Photopea only decodes the raw sensor values into IFD.data. Try to play with that array. UTIF.toRGBA8() is not supported on raw photos.

Photopea contains about 30 kB of additional code to render a raw photo, it is not open-source.

[2021-02-03 09:24] thany commented on #93
Ok but then why does UTIF claim to be able to read DNG, when the required CFA's are not being parsed?
Well I suppose *technically* it can read DNG, but not in a useful manner. Kind of like how I can read Spanish, but can't understand it.

[2021-02-03 09:45] photopea commented on #93
it means reading the raw images from raw formats, not converting them to RGB.

[2021-02-03 20:35] thany commented on #93
Okay fine. But can you at least make `UTIF.encode` work? When I feed it the biggest subIFD (whose `data` weight about 32MB after "decoding") what comes out is an `ArrayBuffer` of exactly 8 bytes, so basically everything is skipped.

It doesn't matter if I `decodeImage` this IFD or not.

Example:
[code]
This outputs to the console, and to a file, exactly the bytes `4d 4d 00 2a 00 00 00 08` and noth

[2021-02-03 20:48] photopea commented on #93
Please, read our manual: https://github.com/photopea/UTIF.js

The input of UTIF.encode() should be an array, not an object.

[2021-02-24 08:30] tsippert opened #94 "New NPM Version Request"
I was about to submit a pull request with some fixes, but I saw that it is already implemented here on Github
However the last changes are not available at NPM.

In NPM the last version is 3.1.0 from 2019-06-18: https://www.npmjs.com/package/utif
The last version bump was this one: https://github.com/photopea/UTIF.js/commit/27f1098a67c3cfd4348c9b8fd887fcd8cd171095

Could you please release a new v

[2021-02-24 08:38] tsippert commented on #94
@Scimonster I just saw in this other closed issue https://github.com/photopea/UTIF.js/issues/13 that you are responsible to update the npm package, so I'm including you at the thread 😄

[2021-03-12 13:39] u-uysal opened #95 "Downloading Tif files by using URL ?"
I have a URL (https://mminternalsadev.blob.core.windows.net/uploads/5ccad715074ce2b850f646d5-6710db20-210f-4453-941f-b50b671a7a3f?st=2021-03-12T12%3A23%3A46Z&se=2021-03-12T14%3A28%3A46Z&sp=r&sv=2018-03-28&sr=b&rsct=application%2Fpdf&sig=Gim0rLvibg42lonxUIaUrGA3XaXbBsKkhzdOdnnQPdc%3D). I want to download tif file by clicking the URL. How can I do that? This code works for PDF but not Tif

`<Flex di

[2021-03-12 13:58] photopea commented on #95
Hi, your URL seems to return a damaged PDF file.

I do not understand your code. I know only HTML and Javascript.

[2021-04-07 13:48] SimonSegerblomRex opened #96 "Lossless JPEG decoder broken for 16 bit diff values"
Hi!

Your JPEG decoder is broken for 16 bit diff values, see [this](https://github.com/Beep6581/RawTherapee/pull/6190). It's a very easy fix, but I can't parse the minified code. I guess you will fix it by yourself based on the conversation with @thany in #89. (A workaround could be to replace your decoder with [this one](https://github.com/rii-mango/JPEGLosslessDecoderJS).)

[2021-04-07 15:23] SimonSegerblomRex commented on #96
I can provide one tomorrow. (The decoder doesn't crash, the decoded image will just be corrupt. The results looks exactly the same in RawTherapee without the fix I linked to.)

[2021-04-08 08:29] SimonSegerblomRex commented on #96
Here's a minimal DNG-file: [zeros-2x2-16bit.zip](https://github.com/photopea/UTIF.js/files/6277202/zeros-2x2-16bit.zip)

(The decoded image should be black (2x2 zeros).)

[2021-04-08 09:46] SimonSegerblomRex commented on #96
Here's another example: [16bit-test.zip](https://github.com/photopea/UTIF.js/files/6277683/16bit-test.zip)

Expected output:
![expected](https://user-images.githubusercontent.com/8997425/114005549-ec609600-985f-11eb-8713-82794dcadf28.png)

Photopea:
![current](https://user-images.githubusercontent.com/8997425/114005532-e8cd0f00-985f-11eb-8e91-004875eb59c7.png)

[2021-04-08 17:11] photopea commented on #96
I fixed it, an updated UTIF.js is here, and in Photopea.com :)

[2021-04-08 17:11] #96 closed

[2021-04-08 17:11] #95 closed

[2021-04-08 17:12] photopea commented on #94
Feel free to upload UTIF.js to NPM yourself. I do not use NPM.

[2021-04-08 17:12] #94 closed

[2021-04-08 17:12] photopea commented on #93
I guess it has been fixed.

[2021-04-08 17:12] #93 closed

[2021-04-08 17:12] #90 closed

[2021-04-08 17:13] #87 closed

[2021-04-08 17:14] #86 closed

[2021-04-08 17:29] SimonSegerblomRex commented on #96
Nice! Thanks for the fixing it so quickly 👍

[2021-04-09 05:56] SimonSegerblomRex commented on #96
@photopea, I had a look at the [diff](https://github.com/photopea/UTIF.js/commit/8fc26cbe548079efc61297ac777bba765ea5205c#diff-aa0d4be33d6a5f7da30b7b6e46a90849c7db6a1c262821061b4811e6bb0d7b00) and now the `if(SSSS==16)return-32768` is in the right place (before erroneously decoding 16 bits), but it looks like you forgot to clean up the old faulty code in what used to be `function J` (now `function

[2021-04-09 07:53] photopea commented on #96
Ok, it should be fixed now :) I wish I knew you before I started to write my own lossless JPG decoder, so that you could help me out :D

[2021-04-09 08:03] SimonSegerblomRex commented on #96
Nice :) The [diff](https://github.com/photopea/UTIF.js/commit/b3d63ce4f24d5780945772143646a8c5b67f40e7#diff-aa0d4be33d6a5f7da30b7b6e46a90849c7db6a1c262821061b4811e6bb0d7b00) looks a bit strange though, maybe you added some other stuff by mistake?

[2021-04-15 06:41] SimonSegerblomRex opened #97 "Lossless JPEG decoder only supports predictor modes 1, 6, and 7"
Hi!

I noticed that the lossless JPEG decoder only supports predictor modes 1, 6, and 7. Can you add support for the rest?

Here are example files for predictor modes 0-7: [predictor-example-files.zip](https://github.com/photopea/UTIF.js/files/6315635/predictor-example-files.zip)

[2021-04-15 08:10] thany commented on #96
This. Having minified code in a *source* repo is a bad idea for a plethora of reasons. I understand it's probably copyrighted code or something, but that just underlines the problem. Import it from the commercial package, don't copypaste it in.

If the source code was properly source, other folks could help improve the code. This can't ever happen with minified code. This should be the primary rea

[2021-04-15 08:48] firetech commented on #96
Quite easy to do:
[code]

(Doing this also solves #97, by the way.)

[2021-04-17 21:58] photopea commented on #97
In all DNG files that I had, only predictors 1, 6 and 7 were used. So I thought there is no need to make a code longer, if the predictors are not used in practice :)

I implemented the missing ones. Thanks for providing DNG files! :)

[2021-04-17 21:58] #97 closed

[2021-04-27 14:49] programnara opened #98 "UTIF.js error fix"
<pre>
[UTIF.js] fix :
line 1053 :
				if(false) {}
				else if(bps==1) mi=(data[dof+(x>>>3)]>>>(7-(x&7)))&1;
				else if(bps==4) mi=(data[dof+(x>>>1)]>>>(4-4*(x&1)))&15;
				else if(bps==8) mi= data[dof+x*smpls];
<hr>
add a line :
				else if(bps==2) mi=(data[dof+(x>>>2)]>>>(6-2*(x&3)))&3;
then it can show this tif :
https://www.eso.org/public/archives/images/original/eso9616a.tif
<hr>
for example

[2021-04-27 20:52] photopea commented on #98
Thanks, it is fixed now (in Photopea.com and here at Github). :)

[2021-04-27 20:52] #98 closed

[2021-05-15 20:49] Thierry58 opened #99 "TIFF partially drawn"
Hello
thank you for this package :-)
I am facing a strange issue: using UTIF in HTML page, a TIFF file is only partially displayed.
Actually the top left part of the tif is in the middle of the canvas.

When I open the tif in MS photo viewer:
![real](https://user-images.githubusercontent.com/84248292/118377418-686f9b80-b5cd-11eb-9e08-87706c3eca75.png)
What is drawn on the canvas:
![drawn](https://

[2021-05-16 04:18] johnthad commented on #99
The image seems fine (using tiffinfo from LIBTIFF 4.3.0):

    $ tiffinfo Document.TIFF
    TIFF Directory at offset 0x91874 (166e2)
      Subfile Type: multi-page document (2 = 0x2)
      Image Width: 2321 Image Length: 3408
      Resolution: 300.022, 299.971 pixels/inch
      Bits/Sample: 1
      Sample Format: unsigned integer
      Compression Scheme: LZW
      Photometric Interpretation: min-

[2021-05-16 08:30] photopea commented on #99
I just inserted your TIFF into a webpage with the following code:

    <html>

    <head>  <script src="UTIF.js"></script>  </head>

    <body onload="UTIF.replaceIMG()">
    <img src="Document.TIFF" />
    </body>

    </html>

The image is displayed completely and correctly. However, it is quite large, so only a top left part can fit on my screen, I need to scroll a website to see the rest. Mayb

[2021-05-16 11:00] Thierry58 commented on #99
Thank you for your answers both of you.  On the breach even on sundays ;-)

 @johnthad sadly, what you proposed is a no-go for me.
The image comes from another server, I don't load the file it-self, just receive a byte array instead.
So the java side has no concept of a page, I can only pass the whole thing to JS (slicing the string if it is too long).
For (too strong) security reasons, I may not

[2021-05-16 11:29] Thierry58 commented on #99
@photopea hello and thank you again for UTIF.js.
"replaceIMG()" looks good but I can't do this for the same HTML also displays non-tiff images.
Another thing, I need to have a "handle" on the image, so that zooming in/out and rotating is possible for the user.

Yes the TIFF is large indeed.
The canvas is set to have image width and height.
And for that particular tiff, all that appears on screen i

[2021-05-16 13:16] johnthad commented on #99
I'm sorry, I misidentified that. Yes, I am sending the image to UTIF as a raw byte array. I should have removed the "magic" part. The repositories I deal with have a number of JPEG-in-TIFF images that use TIFF6. Not all of these are encoded the same way, and it's more reliable to extract the JPEG on the server in Java and send that. Also there are times that our user have replaced a TIFF image wit

[2021-05-16 14:15] johnthad commented on #99
All I had to do was add `<script src="./node_modules/utif/UTIF.js"></script>` to an HTML page (see https://github.com/johnthad/utif-demo/blob/master/thumbnails-lzw.html). With that I can extract all 13 pages of your image.

You might want to test what `Base64Binary.decodeArrayBuffer()` is returning.

[2021-05-19 16:52] thesunilbagde opened #100 "UTIF multiple page tiff not able to extract all images"
## Issue

#### when i decode image its shows all ifds but when i took 2nd or any other object and pass to encode its only converted
to first file

#### in other words multi tiff not able extract all images only first image is getting converted.

[code]

[code]

[code]

[2021-05-19 17:13] photopea commented on #100
I never used Sharp, but I think you are extracting only the ICC profile out of images, right? https://www.awaresystems.be/imaging/tiff/tifftags/iccprofile.html

[2021-05-24 09:20] Thierry58 commented on #99
Thank you for your help and time.
Not coding in JS for long, so I did mistakes with the canvas (i.e. changing its size) which has impacts on the image returned by `Canvas.toDataURL()`.
So UTIF is not the culprit, I am :(
Sorry for that.

I don't know if it was the right way, I closed this ticket.
Good day :-)

[2021-05-24 09:20] #99 closed

[2021-05-31 17:01] #100 closed

[2021-07-30 13:18] Koomita commented on #56
I got the same issue with `toRGBA8() gives you an empty array`, here is [the file](http://seikichi.github.io/tiff.js/images/palette-1c-8b.tiff)

[2021-07-30 16:04] photopea commented on #56
@Koomita are you sure it gives you an empty array just for this file, and not for other TIFF files?

[2021-07-31 03:28] Koomita commented on #56
no, for all TIFF files I've got.

here is the code:

[code]

[2021-07-31 10:03] photopea commented on #56
Then, I think you are using the library the wrong way.  I don't know what this syntax means: "const [page] " - it is probably not javascript, so I can not help you :(

Read our main page to learn how to use UTIF.js

[2021-07-31 11:49] johnthad commented on #56
If you are attempting to use Array destructuring to break out the individual IFDs for each image, you're missing the ellipsis, and then getting the RGBA from the wrong part. Instead of

    const [page] = ifds;
    UTIF.decodeImage(fileBuffer, ifds);

try

    const [...page] = ifds;
    UTIF.decodeImage(fileBuffer, page[0]);

See [Destructuring assignment](https://developer.mozilla.org/en-US/docs

[2021-07-31 23:02] massic80 commented on #56
Hola guys, sorry for moving a bit OT (maybe you are, as well), but wasn't this supposed to stay on ES2015 #58 ? :)
I'm glad to see that something changed!
In case you'd desire to port it, just whistle! ;)

[2021-07-31 23:03] massic80 commented on #56
Hola guys, sorry for moving a bit OT (maybe you are, as well), but wasn't this supposed to stay on ES5 (#58) ? :)
I'm glad to see that something changed!
In case you'd desire to port it, just whistle! ;)

[2021-08-01 02:52] Koomita commented on #56
thanks, it works. turns out I mistakenly put the whole ifds data into the second argument's place😅

[2021-08-04 17:31] JPorter44 opened #102 "Splitting multi-page tiffs into multiple single page tiffs"
When attempting to split a multi-page tiff I'm running into an error.

unknown type of tag: 254
    at Object.push../node_modules/utif/UTIF.js.UTIF._writeIFD (UTIF.js:961)
    at Object.push../node_modules/utif/UTIF.js.UTIF.encode (UTIF.js:74)
    at Object.push../node_modules/utif/UTIF.js.UTIF.encodeImage (UTIF.js:57)
![image](https://user-images.githubusercontent.com/44214073/128225111-759f0236-

[2021-08-04 17:59] johnthad commented on #102
I've not tried encoding with UTIF.js, so I'm making a guess here: Tag 254 is valid per the TIFF spec (NewSubfileType), but if UTIF.js is complaining about it you might try removing it from `idf` before calling `UTIF.encodeImage(...)`. I'd try calling `delete idf.t254` before `UTIF.encodeImage(...)`. Does that work?

[2021-08-05 14:38] JPorter44 commented on #102
@johnthad I tried removing that which then caused me to have to delete like 10 more tags. In the end it didn't work because I was ending up with files that were 1KB large and blank/corrupted. I believe my issue is assuming ```UTIF.encodeImage(...)``` keeps the existing compression. I would still like to know if it's possible to keep compression while splitting a multi-page file to single page file

[2021-08-05 18:23] johnthad commented on #102
Sorry, I use UTIF.js only for decompressing and displaying in a browser. All my work writing TIFF Group IV has been with Java, most recently with [Java Advanced Imaging Image I/O Tools API Core (standalone)](https://mvnrepository.com/artifact/com.github.jai-imageio/jai-imageio-core).

[2021-09-16 04:52] AidenOhk opened #103 "Can not decode Jpeg encoded TIFF"
[tiff.zip](https://github.com/photopea/UTIF.js/files/7174985/tiff.zip)
Before using UTIF.js I try to test with photopea and I found it can't decode attached jpeg encoded TIff.
I made it via Preview in mac

![image](https://user-images.githubusercontent.com/90818540/133551445-60a2197d-55cd-41f0-9b3a-d3b7b6c73705.png)
It shoud be displayed like below image
![image](https://user-images.githubusercont

[2021-09-19 09:07] photopea commented on #103
I think there is a bug in your TIFF file. It says it has four channels, but in fact, it has only three channels.

But it seems like most of TIFF viewers can still handle it. So I made UTIF.js overcome this bug. A new UTIF.js is here and at Photopea.com

BTW. you should switch to using PNG, it is a much better format.

[2021-09-19 09:07] #103 closed

[2021-10-25 16:22] Thierry58 opened #104 "Zip compression"
Hello
I use your library and I thank you for that :)

Recently I bumped into an issue with TIFF being compressed with ZIP format.
UTIF returns this error "Unknown compression 32946".

I know that the description states "Supports Fax 3 and Fax 4 (CCITT), JPEG, LZW, PackBits and other compressions (1,3,4,5,6,7,8,32773,32809)", so there is no support for zip

Would you consider adding it or would you

[2021-10-25 19:48] #104 closed, assigned to nobody

[2021-12-02 03:46] osvalth commented on #1
Excuse me! How to use <body onload="UTIF.replaceIMG()"> in Nuxt.js?

[2021-12-13 02:25] HeligPfleigh opened #105 "PKZIP compression"
Thank you guys for this awesome library. I'm using this one for displaying tiff image on my app, but it seem doesn't support some kind of compression (in my case it is PKZIP), even that image could be opened on https://www.photopea.com/

This is the image I've used: [zippedTiff.zip](https://github.com/photopea/UTIF.js/files/7700537/zippedTiff.zip). The data on `this._imageData[frameIndex]` after e

[2021-12-13 13:17] photopea commented on #105
Are other TIFF files working? If not, you are using the library a wrong way.

Are you using the latest UTIF.js from this repository, or some random version you found elsewhere? Update your version with the lates one from this repository.

[2021-12-13 14:24] HeligPfleigh commented on #105
Yes, those other tiff files I have work as expected. And below is the version I'm using and the data from `UTIF.decodeImage` with above image.

| Environment| Version|
| ----------- | ----------- |
| utif      | 3.1.0       |
| nodejs | 14.15.0        |
[code]

[2021-12-13 14:59] photopea commented on #105
What is "utif 3.1.0" ? We never gave releases of UTIF.js any name or a number. Please, switch to the latest UTIF.js from this repository, and I think everything should work.

[2021-12-13 15:22] HeligPfleigh commented on #105
It's from [npm](https://www.npmjs.com/package/utif) as my `package.json` is
[code]
And I've tried to use the latest code in `master` branch by `"utif": "git+https://github.com/photopea/UTIF.js.git"`, it returns the same result.

[2021-12-13 15:47] photopea commented on #105
I still think you are using an old library. Can you open your library (JS file) in a notepad? Is there a number "32946" in it somewhere? This number is in the latest UTIF.js at the line 172: https://github.com/photopea/UTIF.js/blob/master/UTIF.js#L172

[2021-12-13 16:11] HeligPfleigh commented on #105
@photopea , thank you for your supporting. You are right, it've been cached in my node_modules and that compression work with latest code in master.
Could you publish a version to npm cause version 3.1.0 seem to still have this issue?

[2021-12-13 16:11] #105 closed

[2021-12-13 16:22] photopea commented on #105
I have never used npm. Could you put it there maybe?

[2021-12-13 16:39] HeligPfleigh commented on #105
oh, I can't, only author of that package could have that permission. Btw thank you 👍

[2022-01-06 14:21] beetes-juice opened #106 "Please update NPM"
Its mentioned in previous issues that you do not use NPM but please find a way to [update](https://www.npmjs.com/package/utif)

Or at least update readme to notify NPM is not maintained/out of date.

[2022-01-06 20:16] photopea commented on #106
There is no mention of any NPM in README. If you want, you can put it on NPM, but the only version, which I am maintaining, is the one here on GitHub.

[2022-01-13 09:25] BryanColle opened #107 "Unknown compression 2: blank image"
Hi!

Thanks for your library, it's great ❤️
I have an issue with a file I can't send to you for privacy reasons (it contains medical data from a customer). It's a tif file that opens fine in the preview app on Mac.

I looked at the logs and I saw a few things that might help you, including `Unknown compression 2`. I see that this is indeed not in the list of compressions the library supports. Is t

[2022-01-13 15:29] photopea commented on #107
Hi, I would need a TIFF file to fix it :( Could you maybe edit your TIFF in some program, remove sensitive data, and send it to me to support@photopea.com ?

[2022-01-14 08:15] BryanColle commented on #107
Thanks for your reply!

I tried removing information from it, but then when I save it the compression changes (to one that is supported). I guess Preview.app only knows how to read the format, and not how to write it...

I will try to see if our customer can generate a white page from the same source so that there is no information on it. I will come back to you by Monday 👍

[2022-01-14 13:54] BryanColle commented on #107
Mail sent with a "safe" file! Thanks again

[2022-01-24 23:51] photopea commented on #107
I think I have fixed it. Could you check if you can open all your TIFF files at www.Photopea.com now?

[2022-01-25 08:08] BryanColle commented on #107
Hi,

It appears to be working, awesome!

[2022-01-25 08:34] zalolorza commented on #107
hi @photopea I'm seeing the same issue when using the UTIF npm package. Can you help me with the new fixed version? Many thanks!!

[2022-01-25 08:43] BryanColle commented on #107
@zalolorza It only works on Photopea for now, it's not yet part of master here.
Also the npm package is not up to date at all, it appears to be 3 years behind.

[2022-01-25 08:55] zalolorza commented on #107
Thanks @BryanColle . I saw that the npm package is behind and I downloaded this repo but the error is still there. Any idea when this will be implemented to UTIF on this repo @photopea? Thank you both :)

[2022-01-25 09:51] photopea commented on #107
I just updated the latest UTIF.js here on Github :) thanks for helping me resolve this problem!

[2022-01-25 09:51] #107 closed

[2022-04-22 15:24] jardicc commented on #102
UTIF does not use compression during encode. Anyway adding it is not that hard. In nodeJS you can simply use this: `import { deflateSync } from "zlib";` instead of `pako` and have much faster performance.

[2022-04-24 09:31] photopea commented on #102
The TIFF encoder in Photopea supports only basic features. You should use PNG instead of TIFF when you store images.

[2022-04-24 09:31] #102 closed

[2022-04-24 15:40] jardicc commented on #102
@photopea Problem with PNG is that it can't store layers, additional channels,  or it does not support other advanced features. But I do agree that in many cases PNG can replace TIFF.

[2022-04-24 15:47] photopea commented on #102
Put it into multiple PNG files, and put them into a ZIP if you need just one file.

[2022-04-24 15:57] jardicc commented on #102
@photopea Maybe that could work for JPorter44 or johnthad but in my case I wish I could  ¯\_(ツ)_/¯ ...because then you have problem that you need to stack and merge those files in correct order and offset.. because you want to edit file later. So then you have to add info into zip what to do with those files and write plugin that will compose it together. So you are inventing custom propriatary fi

[2022-04-25 12:26] jardicc commented on #106
@photopea  The thing is that it has about 1 000 000 downloads by developers every week. So it is used a lot as depencency by other modules. But everything you fixed in this github repo in last 3 years is still broken there and improvements not applied. https://www.npmjs.com/package/utif ...and I don't know who has access to update it.

[2022-04-25 12:57] photopea commented on #106
@jardicc could you put the latest UTIF.js onto NPM? I would put UTIF.js on NPM myself, if it could be done through a web browser. I do not want to install some 200MB command line python socket script nonsense, just to upload a 64 kB file to their server.

[2022-04-25 13:13] jardicc commented on #106
I don't think I have access to do that. I wrote e-mail to that person. Otherwise we would need to create separated module and let other devs to know that they can switch to updated code.

[2022-05-04 22:38] jardicc commented on #106
@beetes-juice In the end I made a copy here: https://www.npmjs.com/package/utif2

[2022-06-21 23:06] drop1down opened #109 "Not working image"
Here is a TIF image (JPG), that is not loaded correctly - with pink background:
http://www.nightprogrammer.org/wp-uploads/2013/02/multipage_tiff_example.tif
Any other editor (Irfan, XNView, Gimp) display it correct

[2022-06-25 15:42] photopea commented on #109
We have been discussing this file here: https://github.com/photopea/UTIF.js/issues/42 and honestly, I don't know how to fix it :/ It is a very werid case of a tiff file. Let's discuss it there.

[2022-06-25 15:42] #109 closed

[2022-08-23 09:31] Steve-Mcl commented on #106
@photopea

Does `npm publish` depend on python?

I am sure I have previously executed `npm publish` (installed with `nodejs`) on a system without `python` even being installed?

@jardicc @photopea I'm sure you already know but for completeness, you can get `scimonster`s contact info by running  `npm info utif` - I'm certain if he is still around he would update the package or permit @photopea publ

[2022-08-23 23:00] photopea commented on #106
Could you ask NPM to delete the current version? And then, you can upload a new version?

[2022-08-24 09:01] Steve-Mcl commented on #106
@photopea

That is not how NPM works. There are currently over 1000000 downloads of your package per week...

![image](https://user-images.githubusercontent.com/44235289/186375167-c816db21-22a6-4bb6-9e1f-49dd28fb9a61.png)

Very impressive. However, NPM will not delete this nor will they delete any older versions as other packages still depend on them.

The best way to maintain integrity is for you

[2022-08-28 10:54] jardicc commented on #106
I contacted him via e-mail and got no reply. Therefore I created Utif2

[2022-10-13 07:42] lutifyme opened #110 "16-bit TIFF treated as 8-bit?"
Hi,

Is it possible that Photopea and utif.js treat 16-bit tiff files as if they were 8-bit discarding data in process?

Here's a sample file I'm testing in Photopea:
https://www.dropbox.com/s/lylyfw6qxg8tmuv/rwg-tif_1.176.5.tif?dl=0

It's a file exported from RED .r3d raw file in REDWideGamutRGB color space with Log3G10 gamma using Davinci Resolve.

When I add contrast to it and saturation to "no

[2022-10-13 19:27] photopea commented on #110
Hi Goran,

Photopea can represent only 8-bit images at the moment. If you load a 16-bit image, a 10-bit image, or a 1-bit image, it is always converted into RGB, 8 bits per channel sample. So half of information is thrown away in your case.

UTIF.js can decode the original data of a TIFF file (e.g. 2-bit RGB image - 6 bits per pixel, a 16-bit Gray+Alpha image - 32 bits per pixel, etc.).  However,

[2022-10-13 19:27] #110 closed

[2022-10-13 19:31] photopea commented on #110
Does your TIFF contain an ICC color profile? I can not see any. Maybe I could make Photopea convert the color data into sRGB, so that you can see the correct colors.

[2022-10-13 19:31] lutifyme commented on #110
Thanks!

[2022-10-13 19:37] lutifyme commented on #110
The file doesn't contain ICC profile. Davinci exports images as untagged RGB. I think the right thing to do would be to allow for decoding of the original data and have a choice to use that or the result of UTIF.toRGBA8(). That way one could handle conversion into 8-bit RGB independently of utif.js and use utif.js as "pure" tiff decoder.

[2022-10-17 06:48] mylutte opened #111 "How can I correctly preview the following files? I now display them all blank"
image url：[https://github.com/image-js/tiff/blob/main/img/whiteIsZero.tif](url)

[2022-10-17 18:13] photopea commented on #111
I have updated the UTIF.js file in this repository. It should work now.

[2022-10-17 18:13] #111 closed

[2022-10-18 01:27] mylutte commented on #111
thanks a lot，i will try.

[2022-11-24 14:17] gcacars commented on #63
To transform from base64 to a data/base64 png:
_(with async/await, es2020, AirBnb rules...)_

[code]

Use:
[code]